<div class="backgroundColor"></div>

<div class="modalbureauNumber">
  <div class="background"></div>
  <div class="vectorIcon">
    <img src="./assets/LandingPage/img1.svg" alt="">
  </div>
  <div class="content">
    <h3>Looks like you don't have a Bureau history!</h3>
    <p>It looks like you're new to credit or there's an issue with the bureau. Link your mobile number by contacting Experian.</p>
  </div>

  <div class="FeaturesSection">
    <div class="container">
      <div class="row boxColorChnage justify-content-center">
        <div class="col-lg-12">
          <div class="headingTop">
            <h2>You can quickly build your bureau history by applying for any of these products!</h2>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-4 changeColor">
          <div class="loanBoxModal">
            <img src="./assets/LandingPage/img8.svg" alt="">
            <div class="content">
              <h4>Personal Loan</h4>
              <p>Lorem ipsum dolor sit amet, consectetur.</p>

              <div class="exploreBtn">
                <a class="btn" href="">
                  Explore 
                  <mat-icon>keyboard_arrow_right</mat-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-4 changeColor">
          <div class="loanBoxModal">
            <img src="./assets/LandingPage/img9.svg" alt="">
            <div class="content">
              <h4>Personal Loan</h4>
              <p>Lorem ipsum dolor sit amet, consectetur.</p>

              <div class="exploreBtn">
                <a class="btn" href="">
                  Explore 
                  <mat-icon>keyboard_arrow_right</mat-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-4 changeColor">
          <div class="loanBoxModal">
            <img src="./assets/LandingPage/img10.svg" alt="">
            <div class="content">
              <h4>Personal Loan</h4>
              <p>Lorem ipsum dolor sit amet, consectetur.</p>

              <div class="exploreBtn">
                <a class="btn" href="">
                  Explore 
                  <mat-icon>keyboard_arrow_right</mat-icon>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-5">
          <div class="bottomText text-center">
            <p>Which ever loan you choose, remember to pay your EMIs on time to ramp up yorur bureau score.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>