<div class="modalbureauNumber">
  <div class="background"></div>
  <div class="vectorIcon">
    <img src="./assets/LandingPage/img1.svg" alt="">
  </div>
  <div class="content">
    <h3>We are unable to fetch your Bureau Details</h3>
    <p>Kindly share the mobile number which is linked to your credit bureau</p>
    <div class="formInput">
      <form>
        <div class="form-group">
          <input class="form-control" type="number" placeholder="Enter Mobile no. linked to Bureau">
        </div>
        <button>Submit</button>
      </form>
    </div>
  </div>
</div>