
    <div class="eligibility" mat-dialog-content>


<div class="v2checksection progressBaar"  >
    <div class="blueBack"></div>
    <div class="container mobilePd">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-12 m-auto">
          <div class="v2checkBox">
            <div class="from">
              <h3>
                Almost There! <br />
                We’re Calculating Your Best Fits!
              </h3>
  
          
  
      <div class="progress-wrapper">
        <div class="progress-container" #progressContainer>
          <div class="progress" #progressbar></div>
          <div class="progress-text">
            <div class="data" #progresstext>{{progress}}<sub>%</sub></div>
          </div>
        </div>
    </div>
  
  
  
              <span class = "mt-2">Please wait for {{transform(ncjcount)}} sec</span>
  
              <div class="BoxAnimation">
                <div class="progressBox">
                <ng-container *ngFor="let text of loaderContent; let i = index">
                  <p  *ngIf="i === currentIndex"> {{text}}​ </p>
                </ng-container>
                </div>
                <div class="progressBox box1">
                  <p> Your credit score is higher than 60% of people who got a loan in last 30 days​ </p>
                </div>
                <div class="progressBox box2">
                  <p> Your credit score is higher than 60% of people who got a loan in last 30 days​ </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
