<div *ngIf="!urlService.isGlobal"
  class="HeaderStart mobileResponsive"
  [ngClass]="!sticky ?  'HeaderStart' :  'headerscroll'"
>
  <nav class="navbar navbar-expand-lg navbar-light HeaderSet mhidden">
    <div class="container align-items-end">
      <a [routerLink]="['/in']"  queryParamsHandling="preserve" class="navbar-brand"
        ><img class="logoImg" src="https://ce-static-media.s3.ap-south-1.amazonaws.com/images/website/home/main-logo.svg" 
      /></a>
      <button
        type="button"
        class="navbar-toggler bg-white"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="dhidden menuNumber">
        <a href="tel:+91 84509 67207" class="dropdown-item mobileNumber">
          <mat-icon> phone</mat-icon> +91 84509 67207</a
        >
      </div>
      <div class="collapse navbar-collapse mobileSide" id="navbarCollapse">
        <div class="navbar-nav ms-auto HeaderMenu">
          <div class="mhidden">
            <a
              href="tel:+91 84509 67207"
              class="dropdown-item container mobileNumber"
            >
              <mat-icon> phone</mat-icon> +91 84509 67207</a
            >
          </div>
          <div class="numberMenu">
            <div class="mobileTop dhidden">
              <div class="d-flex">
                <a
                  href="tel:+91 84509 67207"
                  class="dropdown-item container mobileNumber"
                >
                  <mat-icon> phone</mat-icon> +91 84509 67207</a
                >
                <!-- <a class="nav-item nav-link loginBtn"
                  >Login</a
                > -->
              </div>
            </div>
            <div class="dropdown hoverEffect" (mouseenter)="openDropdown()" (mouseleave)="closeDropdown()">
              <a
                [class.active]="router.url ==='/in/sme-business-loan'"
                class="nav-link"
                data-bs-toggle="dropdown"
                >SME Products
                <img src="./assets/images/homeImage/topheaderIcon.svg" alt="" />
              </a>
              <div class="DropDownSet"  [hidden]="!showNav">
                <div class="row">
                  <div class="col-md-6">
                    <div class="dropDownHeader">
                      <a
                        class="dropdown-item"
                        *ngFor="let data of smeproductArray"
                        (click)="handleEvent(data);"
                        [class.active]="showMenu ? ProductTitle === data?.ProductTitle : router.url === data?.url"
                        >{{data?.ProductTitle}}
                        <mat-icon *ngIf="data?.category.length > 0"
                          >keyboard_arrow_right</mat-icon
                        >
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="showMenu">
                    <div class="dropDownHeader">
                      <a
                        class="dropdown-item"
                        *ngFor="let menu of productArray"
                        (click)="redirectEvent(menu);"
                        [class.active]="router.url === menu?.url"
                        class="dropdown-item"
                        >{{menu?.product}}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="nav-item dropdown hoverEffect" (mouseenter)="openDropdown()" (mouseleave)="closeDropdown()">
              <a
                [class.active]="router.url ==='/in/sectors'"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                >Industries
                <img src="./assets/images/homeImage/topheaderIcon.svg" alt="" />
              </a>
              <div class="DropDownSet" [hidden]="!showNav">
                <div class="row">
                  <div class="col-md-6">
                    <div class="dropDownHeader">
                      <a
                        class="dropdown-item"
                        *ngFor="let sectormenu of sectorArray"
                        [routerLink]="[sectormenu?.url]"
                        queryParamsHandling="preserve"
                        (click)="closeDropdown();" 
                        [class.active]="router.url == sectormenu?.url"
                        class="dropdown-item"
                        >{{sectormenu?.industryPageName}}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="nav-item dropdown hoverEffect" (mouseenter)="openDropdown()" (mouseleave)="closeDropdown()">
              <a
                [class.active]="router.url ==='/in/resources'"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                >Resources
                <img src="./assets/images/homeImage/topheaderIcon.svg" alt="" />
              </a>
              <div class="DropDownSet" [hidden]="!showNav">
                <div class="row">
                  <div class="col-md-6">
                    <div class="dropDownHeader">
                      <a
                        class="dropdown-item"
                        *ngFor="let resources of resourceArray"
                        [routerLink]="[resources?.url]"
                        queryParamsHandling="preserve" 
                        (click)="closeDropdown();" 
                        [class.active]="router.url == resources?.url"
                        >{{resources?.resource}}
                      </a>
                      <a
                      class="dropdown-item"
                        [href]="blogUrl"
                      >Blog
                    </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="nav-item dropdown hoverEffect" (mouseenter)="openDropdown()" (mouseleave)="closeDropdown()">
              <a class="nav-item nav-link"
                >About Us
                <img src="./assets/images/homeImage/topheaderIcon.svg" alt="" />
              </a>
              <div class="DropDownSet" [hidden]="!showNav">
                <div class="row">
                  <div class="col-md-6">
                    <div class="dropDownHeader">
                      <a
                        class="dropdown-item"
                        *ngFor="let about of aboutArray"
                        [routerLink]="[about?.url]"
                        queryParamsHandling="preserve" 
                        (click)="closeDropdown();" 
                        [class.active]="router.url == about?.url"
                        class="dropdown-item"
                        >{{about?.name}}
                      </a>
                      <a
                        class="dropdown-item"
                        href="assets/images/pdf/CreditEnable_Privacy_Policy_2023.pdf"
                        target="_blank"
                        >Privacy Policy
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="mobileTop mhidden" *ngIf="!isLoginShow">
                            <a (click)="openDialog()" class="nav-item nav-link loginBtn">Login</a>
                        </div> -->
          </div>
        </div>
      </div>
    </div>
  </nav>



  <nav  class="navbar navbar-expand-lg navbar-light HeaderSet dhidden newMobileSideHeader"
  >
    <div class="container align-items-end">
      <a [routerLink]="['/in']" queryParamsHandling="preserve"  class="navbar-brand"
        ><img class="logoImg" src="https://ce-static-media.s3.ap-south-1.amazonaws.com/images/website/home/main-logo.svg" 
        /></a>
      <button
        type="button"
        class="navbar-toggler bg-white"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        (click)="toggleSidebar()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="menuNumber">
        <a href="tel:+91 84509 67207" class="dropdown-item mobileNumber">
          <mat-icon> phone</mat-icon> +91 84509 67207</a
        >
      </div>
      <div class="collapse navbar-collapse mobileSide" id="navbarCollapse">
        <div class="navbar-nav ms-auto HeaderMenu">
          <div class="numberMenu">
            <div class="mobileTop dhidden">
              <div class="d-flex">
                <a
                  href="tel:+91 84509 67207"
                  class="dropdown-item container mobileNumber"
                >
                  <mat-icon> phone</mat-icon> +91 84509 67207</a
                >
                <!-- <a [routerLink]="['']" class="nav-item nav-link loginBtn">Login</a> -->
              </div>
            </div>
            <div class="headerMenuStart">

              <div class="showMobileDrop">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        SME Product
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-accordion>
                      <mat-expansion-panel  *ngFor="let data of smeProductWithCategory"
                      (click)="handleEvent(data)"
                      [class.active]="router.url === data?.url">
                        <mat-expansion-panel-header class="paddingSet">
                          <mat-panel-title>
                            {{data?.ProductTitle}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <a  *ngFor="let menu of productArray"
                        (click)="redirectEvent(menu)"
                        (click)="sidebarOpen = false"
                        [class.active]="router.url === menu?.url" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse"
                        > <mat-icon>keyboard_arrow_right</mat-icon>{{menu?.product}}</a>
                      </mat-expansion-panel>
                      <mat-expansion-panel class="arrowNone"  *ngFor="let data of smeProductWithoutCategory"
                      (click)="handleEvent(data)"
                      [class.active]="router.url === data?.url" data-bs-toggle="collapse"
                      data-bs-target="#navbarCollapse" >
                        <mat-expansion-panel-header class="paddingSet">
                          <mat-panel-title>
                            {{data?.ProductTitle}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                      </mat-expansion-panel>

                    </mat-accordion>
                  </mat-expansion-panel>
                </mat-accordion>

                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Industries
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a *ngFor="let sectormenu of sectorArray"
                    [routerLink]="[sectormenu?.url]"
                    queryParamsHandling="preserve" 
                    [class.active]="router.url == sectormenu?.url"   (click)="removeTogglesidebar()"  data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" > <mat-icon>keyboard_arrow_right</mat-icon> {{sectormenu?.industryPageName}}</a>
                  </mat-expansion-panel>
                </mat-accordion>

                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Resources
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a *ngFor="let resources of resourceArray"
                    [routerLink]="[resources?.url]"
                    queryParamsHandling="preserve" 
                    [class.active]="router.url == resources?.url" data-bs-toggle="collapse"
                    (click)="removeTogglesidebar()"  
                    data-bs-target="#navbarCollapse"> <mat-icon>keyboard_arrow_right</mat-icon> {{resources?.resource}}</a>
                    <!-- <a [href]="blogUrl"
                    data-bs-toggle="collapse"
                      >Blog
                    </a> -->
                  </mat-expansion-panel>
                </mat-accordion>


                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        About Us
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a  *ngFor="let about of aboutArray"
                    [routerLink]="[about?.url]"
                    queryParamsHandling="preserve" 
                    (click)="removeTogglesidebar()"  
                    [class.active]="router.url == about?.url" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse"> <mat-icon>keyboard_arrow_right</mat-icon>{{about?.name}}</a>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>

            </div>

            <!-- <div class="mobileTop mhidden">
                            <a [routerLink]="['']" class="nav-item nav-link loginBtn">Login</a>
                        </div> -->
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<div *ngIf="urlService.isGlobal"
  class="HeaderStart mobileResponsive indicators" 
  [ngClass]="!sticky ?  'HeaderStart' :  'headerscroll'"
>
  <nav class="navbar navbar-expand-lg navbar-light HeaderSet mhidden">
    <div class="container align-items-end">
      <a [routerLink]="['/']"  queryParamsHandling="preserve" class="navbar-brand"
        ><img class="logoImg" src="https://ce-static-media.s3.ap-south-1.amazonaws.com/images/website/home/main-logo.svg" 
        /></a>
      <button
        type="button"
        class="navbar-toggler bg-white"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="dhidden menuNumber">
        <a href="tel:+44 2037453371" class="dropdown-item mobileNumber">
          <mat-icon> phone</mat-icon> +44 2037453371</a
        >
      </div>
      <div class="collapse navbar-collapse mobileSide" id="navbarCollapse">
        <div class="navbar-nav ms-auto HeaderMenu">
          <div class="mhidden">
            <a
              href="tel:+44 2037453371"
              class="dropdown-item container mobileNumber"
            >
              <mat-icon> phone</mat-icon> +44 2037453371</a
            >
          </div>
          <div class="numberMenu">
            <div class="mobileTop dhidden">
              <div class="d-flex">
                <a
                  href="tel:+44 2037453371"
                  class="dropdown-item container mobileNumber"
                >
                  <mat-icon> phone</mat-icon> +44 2037453371</a
                >
                <!-- <a class="nav-item nav-link loginBtn"
                  >Login</a
                > -->
              </div>
            </div>
            <div class="nav-item  dropdown hoverEffect">
              <a
                [class.active]="router.url ==='/lenders'"
                class="nav-link"
                [routerLink]="['/lenders']"
                queryParamsHandling="preserve" 
                data-bs-toggle="dropdown"
                >Lenders
                <!-- <img src="./assets/images/homeIcon/topheaderIcon.svg" alt="" /> -->
              </a>
            </div>
            <div class="nav-item dropdown hoverEffect">
              <a
                [class.active]="router.url ==='/about-us'"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                [routerLink]="['/about-us']"
                queryParamsHandling="preserve" 
                >About Us
                <!-- <img src="./assets/images/homeIcon/topheaderIcon.svg" alt="" /> -->
              </a>

            </div>

            <div class="nav-item dropdown hoverEffect">
              <a
                [class.active]="router.url ==='/contact'"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                [routerLink]="['/contact']"
                queryParamsHandling="preserve"
                >Contact
                <!-- <img src="./assets/images/homeIcon/topheaderIcon.svg" alt="" /> -->
              </a>
            </div>

            <!-- <div class="mobileTop mhidden">
                            <a [routerLink]="['']" class="nav-item nav-link loginBtn">Login</a>
                        </div> -->
          </div>
        </div>
      </div>
    </div>
  </nav>



  <nav  class="navbar navbar-expand-lg navbar-light HeaderSet dhidden newMobileSideHeader"
  >
    <div class="container align-items-end">
      <a [routerLink]="['/']" queryParamsHandling="preserve"  class="navbar-brand"
        ><img class="logoImg" src="https://ce-static-media.s3.ap-south-1.amazonaws.com/images/website/home/main-logo.svg" 
        /></a>
      <button
        type="button"
        class="navbar-toggler bg-white"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        (click)="toggleSidebar()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="menuNumber">
        <a href="tel:+44 2037453371" class="dropdown-item mobileNumber">
          <mat-icon> phone</mat-icon> +44 2037453371</a
        >
      </div>
      <div class="collapse navbar-collapse mobileSide" id="navbarCollapse">
        <div class="navbar-nav ms-auto HeaderMenu">
          <div class="numberMenu">
            <div class="mobileTop dhidden">
              <div class="d-flex">
                <a
                  href="tel:+44 2037453371"
                  class="dropdown-item container mobileNumber"
                >
                  <mat-icon> phone</mat-icon>+44 2037453371</a
                >
                <!-- <a [routerLink]="['']" class="nav-item nav-link loginBtn">Login</a> -->
              </div>
            </div>
            <div class="headerMenuStart">

              <div class="showMobileDrop">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title routerLink="/lenders" queryParamsHandling="preserve" 
                      (click)="removeTogglesidebar()"  
                      [class.active]="router.url === '/lenders'"  data-bs-toggle="collapse"
                      data-bs-target="#navbarCollapse">
                        Lenders
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                </mat-accordion>

                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title routerLink="/contact" queryParamsHandling="preserve" 
                      (click)="removeTogglesidebar()"  
                      [class.active]="router.url === '/contact'" data-bs-toggle="collapse"
                      data-bs-target="#navbarCollapse">
                        Contact
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                </mat-accordion>

                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title routerLink="/about-us" queryParamsHandling="preserve" 
                      (click)="removeTogglesidebar()"  
                      [class.active]="router.url === '/about-us'" data-bs-toggle="collapse"
                      data-bs-target="#navbarCollapse">
                        About
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                </mat-accordion>

              </div>

            </div>

            <!-- <div class="mobileTop mhidden">
                            <a [routerLink]="['']" class="nav-item nav-link loginBtn">Login</a>
                        </div> -->
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
