<div class="backgroundHeader"></div>

<div *ngIf="!urlService.isGlobal" class="HeaderStart mobileResponsive"
    [ngClass]="!sticky ?  'HeaderStart' :  'headerscroll'">
    <nav class="navbar navbar-expand-lg navbar-light HeaderSet mhidden">
        <div class="container align-items-end">
            <a [routerLink]="['/in']"  queryParamsHandling="preserve" class="navbar-brand"><img class="logoImg"
                    src="https://ce-static-media.s3.ap-south-1.amazonaws.com/images/website/Shine/dashboard/Shine_Logo.svg" /></a>
            <button type="button" class="navbar-toggler bg-white" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="dhidden menuNumber">
                <a href="tel:+91 84509 67207" class="dropdown-item mobileNumber">
                    <mat-icon> phone</mat-icon> +91 84509 67207</a>
            </div>
            <div class="collapse navbar-collapse mobileSide" id="navbarCollapse">
                <div class="navbar-nav ms-auto HeaderMenu">
                    <div class="mhidden">
                        <a href="tel:+91 84509 67207" class="dropdown-item container mobileNumber">
                            <mat-icon> phone</mat-icon> +91 84509 67207</a>
                    </div>
                    <div class="numberMenu">
                        <div class="mobileTop dhidden">
                            <div class="d-flex">
                                <a href="tel:+91 84509 67207" class="dropdown-item container mobileNumber">
                                    <mat-icon> phone</mat-icon> +91 84509 67207</a>
                                <a class="nav-item nav-link loginBtn"
                  >Login</a
                >
                            </div>
                        </div>
                        <!-- <div class=" hoverEffect">
                            <a [class.active]="router.url ==='/in/sme-business-loan/secured-business-loan'" class="nav-link"
                                data-bs-toggle="dropdown" (click)="goToSME()">SME Business Loans
                            </a>
                        </div> -->
                        <div class="nav-item"
                            (mouseleave)="closeDropdown()">
                            <a [class.active]="router.url ==='/in/pricing_group'"  class="nav-link dropdown-toggle"
                                data-bs-toggle="dropdown" style="cursor: pointer;" (click)="goToPricing(true)">Pricing
                            </a>
                        </div>
<!-- 
                        <div class="nav-item"
                            (mouseleave)="closeDropdown()">
                            <a [class.active]="router.url ==='/in/resources'" class="nav-link dropdown-toggle"
                                data-bs-toggle="dropdown">FAQs
                            </a>
                        </div> -->

                        <div class="nav-item"
                            (mouseleave)="closeDropdown()" >
                            <a [class.active]="router.url ==='/in/contact-us'"  style="cursor: pointer;"  class="nav-link dropdown-toggle" (click)="goToContact()"
                                >Contact Us
                            </a>
                        </div>

                        <div class="mobileTop mhidden">
                            <a class="nav-item nav-link loginBtn" (click)="loginBtn()">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>



    <nav class="navbar navbar-expand-lg navbar-light HeaderSet dhidden newMobileSideHeader">
        <div class="container align-items-end">
            <a [routerLink]="['/in']" queryParamsHandling="preserve" class="navbar-brand"><img class="logoImg"
                    src="https://ce-static-media.s3.ap-south-1.amazonaws.com/images/website/Shine/dashboard/Shine_Logo.svg" /></a>
            <button type="button" class="navbar-toggler bg-white" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" (click)="toggleSidebar()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="menuNumber">
                <a href="tel:+91 84509 67207" class="dropdown-item mobileNumber">
                    <mat-icon> phone</mat-icon> +91 84509 67207</a>
            </div>
            <div class="collapse navbar-collapse mobileSide" id="navbarCollapse">
                <div class="navbar-nav ms-auto HeaderMenu">
                    <div class="numberMenu">
                        <div class="mobileTop dhidden">
                            <div class="d-flex">
                                <a href="tel:+91 84509 67207" class="dropdown-item container mobileNumber">
                                    <mat-icon> phone</mat-icon> +91 84509 67207</a>
                                <!-- <a [routerLink]="['']" class="nav-item nav-link loginBtn">Login</a> -->
                            </div>
                        </div>
                        <div class="headerMenuStart">

                            <div class="showMobileDrop">
                                <!-- <div class="nav-item"
                                    (mouseleave)="closeDropdown()">
                                    <a [class.active]="router.url ==='/in/sectors'" class="nav-link dropdown-toggle"
                                        data-bs-toggle="dropdown">SME Business Loans
                                    </a>
                                </div> -->
                                <div class="nav-item"
                                    (mouseleave)="closeDropdown()">
                                    <a [class.active]="router.url ==='/in/pricing_group'" class="nav-link dropdown-toggle"
                                        data-bs-toggle="dropdown" (click)="goToPricing(true)">Pricing
                                    </a>
                                </div>
                                <!-- <div class="nav-item"
                                    (mouseleave)="closeDropdown()">
                                    <a [class.active]="router.url ==='/in/sectors'" class="nav-link dropdown-toggle"
                                        data-bs-toggle="dropdown">FAQs
                                    </a>
                                </div> -->
                                <div class="nav-item dropdown hoverEffect" (mouseenter)="openDropdown()"
                            (mouseleave)="closeDropdown()">
                            <a class="nav-item nav-link" [class.active]="router.url ==='/in/contact-us'"  (click)="goToContact()">Contact Us
                               
                            </a>
                           
                        </div>
                            </div>

                        </div>

                        <div class="mobileTop mhidden">
                            <a [routerLink]="['']" class="nav-item nav-link loginBtn">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>


