<div class="priceSection section_padding">
    <div class="container">
        <div class="features">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content pt-5 text-center">
                        <form method="post" action="https://pa-preprod.1pay.in/payment/payprocessorV2">
                            <input type="hidden" name="merchantId" [value]="merchantId">
                            <input type="hidden" name="reqData" [value]="reqData">
                            <button type="submit" >Pay Now</button>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>