.doughnut{

    canvas{
        width: 130px !important;
        height: 130px !important;
        margin: 0 auto 10px;
    }

    // .valueDoughnut {
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -20%);
    //     font-size: 14px;
    //     font-weight: 600;
    //     font-family: Poppins !important;
    //     color: #3F3F3F;
    // }
}