<div class="forbusinessLoanProductComponent">

    <!--  ProfitableLendingSection section  -->
    <div class="BusinessLoanSection">
        <div class="container-fluid p-0">
            <div class="homeSlider">
                <div class="silderSlide">
                    <img class="image mhidden"  src="https://dzzu957mxv8q0.cloudfront.net/images/website/Product%20Finder/product_finder_desktop.jpg"  />
                    <img class="image dhidden" src="https://dzzu957mxv8q0.cloudfront.net/images/website/Product%20Finder/product_finder_mobile.jpg"  />
                    <div class="silderText">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5">
                                    <h1>Refund Policy<br>
                                        <!-- <span>{{banner?.Header?.Bold_Mountain_Meadow_Text}}</span> -->
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <app-loan-product-finder></app-loan-product-finder> -->

    <div class="dueamountSection">
        <div class="container mobilePd">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="dueContent">
                        <ul>
                          <p>At CreditEnable, we are committed to providing valuable credit remediation services to
                            Indian MSMEs. We understand that circumstances may arise where a refund is warranted.
                            Please review our refund policy below:</p>

                            
                          <li>
                            <h5>
                            1. Tiered Assessment
                          </h5>
                            <p><span></span>Our product offers three tiers, each unlocking a more nuanced level of assessment
                              of the borrower's credit, banking, and GST profile.</p>
                            <p><span></span>  The highest tier provides actionable solutions, potential rates from our lenders, and
                              improvements in probabilities based on suggested corrective actions.</p>
                          </li>
                          <li>
                            <h5>
                            2. Refund Eligibility
                          </h5>
                            <p><span></span>Customers are eligible for a refund in case we unable able to generate a report
                              due to unavailability of data or technical issues.</p>
                            <p><span></span>Please email your query to <a>refunds@creditenable.com</a> with a screenshot and we
                              will process the same.</p>
                              <p><span></span>Refunds will only be processed for requests that are raised within 7 days of making
                                the payment and subject to the company not being able to resolve the same
                                within 7 days and provide a report back to the user.</p>
                          </li>
                          <li>
                            <h5>
                            3. Bureau History Requirement
                          </h5>
                            <p><span></span>Customers without a bureau history are automatically eligible for a refund, as a
                              bureau history is necessary to initiate a majority of the assessment process.</p>
                          </li>
                          <li>
                            <h5>
                            4. How to Request a Refund
                          </h5>
                            <p><span></span>To request a refund, please contact our customer support team at
                              <a>refunds@creditenable.com</a> with a screenshot and we will process the same within
                              7 days.</p>
                            <p><span></span>Please provide relevant details such as the reason for the refund and any specific
                              issues faced.</p>
                              <p><span></span>Depending on the type of payment method used, the refund will reflect in your
                                account within 3-7 days.</p>  
                          </li>
                          <li>
                            <h5>
                            5. Refund Approval
                          </h5>
                            <p><span></span>Refund requests will be reviewed promptly within 7 days.</p>
                            <p><span></span>Refunds will be approved for eligible cases within a reasonable timeframe.</p>
                          </li>
                          <li>
                            <h5>
                            6. Contact Information
                          </h5>
                            <p><span></span>For refund inquiries, please reach out to our customer support team at
                            <a>refunds@creditenable.com</a>.</p>
                          </li>

                          <li>
                            <div  class="d-flex">
                            Note: We reserve the right to amend this refund policy at our discretion.
                          </div>
                          </li>
                        </ul>
                        <br>
                        Thank you for choosing CreditEnable. We are dedicated to assisting you on
                        your credit remediation journey.
                      </div>
            
                </div>

                
            </div>
        </div>
    </div>

</div>