<div class="modalbureauNumber">
  <div class="background"></div>
  <div class="vectorIcon">
    <img src="./assets/LandingPage/img1.svg" alt="">
  </div>
  <div class="content">
    <h3>We are unable to fetch your Bureau Details</h3>
    <p>Kindly share the mobile number which is linked to your credit bureau</p>
  </div>

  <div class="FeaturesSection">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="headingTop">
            <h2>You may be new to credit or there's an issue with your bureau.</h2>
            <p>1. If you've borrowed using this number in the past, contact Experian to fix the problem. </p>
            <p>2. If you've never taken credit before, you're at the start of your credit journey! The best we to get started is by exploring small, manageable loans to shine in lenders' eyes.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="BusinessLoanOption">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3 mhidden">
          <div class="businessImg">
            <img src="./assets/LandingPage/modalLeft.png" alt="">
          </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 mb-3">
          <div class="businessText">
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6">
                <a class="iconBox">
                  <img src="../../../assets/LandingPage/img2.svg" alt="">
                  <h3>Gold Loan</h3>
                  <div class="arrowIcon">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                  </div>
                </a>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6">
                <a class="iconBox">
                  <img src="../../../assets/LandingPage/img2.svg" alt="">
                  <h3>Personal Loan</h3>
                  <div class="arrowIcon">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                  </div>
                </a>
              </div>

              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6">
                <a class="iconBox">
                  <img src="../../../assets/LandingPage/img2.svg" alt="">
                  <h3>Consumer Loan</h3>
                  <div class="arrowIcon">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                  </div>
                </a>
              </div>

              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6">
                <a class="iconBox">
                  <img src="../../../assets/LandingPage/img2.svg" alt="">
                  <h3>Loan Against Fixed Deposit</h3>
                  <div class="arrowIcon">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                  </div>
                </a>
              </div>

              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6">
                <a class="iconBox">
                  <img src="../../../assets/LandingPage/img2.svg" alt="">
                  <h3>Loan Against Securities</h3>
                  <div class="arrowIcon">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                  </div>
                </a>
              </div>

              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6">
                <a class="iconBox">
                  <img src="../../../assets/LandingPage/img2.svg" alt="">
                  <h3>Credit Card</h3>
                  <div class="arrowIcon">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                  </div>
                </a>
              </div>


              <!-- <div class="ButtonNow">
                <a>Check Eligibility <mat-icon>keyboard_arrow_right</mat-icon></a>
              </div> -->
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="bottomText text-center">
            <p>Which ever loan you choose, remember to pay your EMIs on time to ramp up yorur bureau score.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>