.feature-card {
    height: 100%;




    .mat-mdc-card {
        transition: .3s;

        &:hover {
            border: 2px solid #000;
            border-radius: 40px;
            background-color: #d5bafe;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }

    &.active{
        .mat-mdc-card {
            background-color:#d5bafe;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        }
       
    }
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basic-title {
    text-align: left;
    font-size: 32px;
    color: #6a2fc2;
    margin-left: 10px;
}

.small-text {
    font-size: 12px;
    color: #000000;
    text-align: left;
    padding-left: 10px;
}

.black-bold {
    font-size: 10px;
    font-weight: bold;
    color: #000000;
}

.price {
    margin-right: 8%;
    text-align: left;
    padding-left: 10px;
}

.price p {
    margin: 5px 0;
    font-size: 22px;
    color: #6a2fc2;
}

.big-rupee {
    font-size: 30px;
    margin-right: 15px;
}

.small-inr {
    font-size: 18px;
    margin-right: 2px;
}

.cta {
    text-align: center;
}

.cta button {
    font-size: 16px;
    padding: 1px 50px;
    background-color: #6a2fc2;
    width: 100%;
}

.cta::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin-top: 20px;
}

mat-card {
    height: 100%;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 40px;
}

mat-card-content {
    padding: 0;
}

.toggleBtn li button {
    border: 1px solid #dedede;
    background: transparent;
    font-size: 14px;
    padding: 8px 30px;
    font-weight: 600;

    &.active{
        background-color: #d4d4d4;

    }
}
.toggleBtn{
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 20px;
    justify-content: center;
}

.toggleBtn li{
    list-style: none;
    padding: 0px;
}


ul {
    list-style-type: none;
    padding-left: 12px;
}

ul li {
    padding: 5px 0;
    list-style-type: disc;
    font-size: 10px;
    padding-left: 10px;
}

.features h3 {
    margin-top: 10px;
    color: #6a2fc2;
    padding-left: 2px;
    font-weight: bold;
}

