<div class="backgroundHeader"></div>

<div class="pricingPlan">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="planOneBox">
                    <div class="box w-33">
                        <div class="contentBox">
                            <h3>{{pricingHeader?.Header1?.Text}}</h3>
                            <p>{{pricingHeader?.Subheader}}</p>

                            <h5>{{pricingHeader?.headerText[0]}}</h5>
                        </div>
                    </div>
                    <div class="pricingBox w-33">
                        <div class="contentBox">
                            <h3>{{pricingHeader?.headerText[1]}}</h3>
                            <del>₹499</del>
                            <span>₹199</span>
                            <p>per member, per month</p>
                            <button class="btn" (click)="goToSelection()">{{pricingHeader?.CTA_Text}}</button>
                        </div>
                    </div>
                    <div class="pricingBox w-33">
                        <div class="contentBox">
                            <h3>{{pricingHeader?.headerText[2]}}</h3>
                            <del>2499</del>
                            <span>₹999</span>
                            <p>per member, per month</p>
                            <button class="btn" (click)="goToSelection()">{{pricingHeader?.CTA_Text}}</button>
                        </div>
                    </div>
                </div>

                <ul>
                    <li *ngFor = "let data of pricingColumns">
                        <span>{{ data?.item[0] }}</span>
                        <ng-container *ngFor="let item of data?.item.slice(1)">
                            <span *ngIf="item.includes('Yes')">
                                <img src="./assets/LandingPage/yescheck.svg" alt="">
                            </span>
                            <span *ngIf="item.includes('No')"></span>
                        </ng-container>
                    </li>
                   
                    <li class="button">
                        <span></span>
                        <span>
                            <button class="btn" (click)="goToSelection()">{{pricingHeader?.CTA_Text}}</button>
                        </span>
                        <span>
                            <button class="btn" (click)="goToSelection()">{{pricingHeader?.CTA_Text}}</button>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="whatisShine">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 m-auto">
                <div class="shineContent text-center">
                    <h3>{{WhatisShineSection?.Header}}</h3>
                    <p>{{WhatisShineSection?.Subhead}}</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 m-auto">
                <div class="shineList">
                    <ul>
                        <li>{{WhatisShineSection?.Body_Section[0]}}</li>
                        <li>{{WhatisShineSection?.Body_Section[1]}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 m-auto">
                <div class="shineList">
                    <ul>
                        <li>{{WhatisShineSection?.Body_Section[2]}}</li>
                        <li>{{WhatisShineSection?.Body_Section[3]}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="shineHelpSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 m-auto">
                <div class="Content text-center">
                    <h3>{{HowDoesShinehelpSection?.Header}}</h3>
                </div>
            </div>
            
            <div class="col-lg-12 col-md-12 col-sm-12 m-auto">
                <div class="boxMarge">
                    <div class="helpBox" *ngFor="let data of featureSection">
                        <span>{{data?.count}}</span>
                        <div class="box">
                            <img src={{data?.icon}} alt="">
                            <p>{{data?.productCopy}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>