<ng-container>
   
    <app-shine-header *ngIf="isShineHeaderVisible()"></app-shine-header>
     <!-- <app-header *ngIf="isHeaderVisible()"></app-header>  -->
     <app-header2 *ngIf="isHeader2Visible()"></app-header2> 

    <router-outlet></router-outlet>
    <div class="loaderOpen" *ngIf="isLoading$ | async">
        <div class="modalBox">
          <div class="Box">
            <div class="loader"></div>
            <p>Processing</p>
          </div>
        </div>
      </div>
    <app-footer ></app-footer>
    
</ng-container> 

