.loaderOpen {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 1;
    backdrop-filter: blur(7px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 111;

    .modalBox {
      
        width: 280px;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;

        .Box {
            padding: 24px;

            p {
                margin-top: 8px;
                font-size: 14px;
                color: #3F3F3F;
                line-height: 18px;
                margin-bottom: 18px;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }


            .loader {
                border: 8px solid #000;
                border-radius: 50%;
                border-top: 8px solid transparent;
                width: 50px;
                height: 50px;
                animation: spin 1s linear infinite;
                margin: 20px auto;
              }
              
              @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
              }
              
        }
    }
}