<div class="v2checksection selectForm formMinsize" style="padding-bottom: 70px; padding-top: 160px;">
    <div class="blueBack"></div>
    <div class="container mobilePd">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12 m-auto">
                <p class="text-center text-white position-relative z-index">
                    Enter your mobile number to begin your personalised financial journey with us.
                </p>
                
                <div class="col-xl-7 col-lg-7 col-md-12 m-auto">
                    <div class="v2checkBox" style="padding: 30px 25px 20px;">
                        <div class="from">
                            <div class="backIcon" (click)="eventService.back()">
                                <a><mat-icon>keyboard_arrow_left</mat-icon></a>
                            </div>
                            <h1 class="text-center"> Get Started with Shine</h1>
                            <h3 class="text-center" style="font-weight: lighter;">
                                Enter your mobile number linked to your PAN & Bureau.
                            </h3>

                            <div class="formSelect" #formSection>
                                <div class="example-container">
                                    <form [formGroup]="register_form">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" [ngClass]="register_form.controls['phoneNumber'].touched &&
                                            register_form.controls['phoneNumber'].hasError('required') ||  (register_form.controls['phoneNumber'].dirty || register_form.controls['phoneNumber'].touched) &&
                                            register_form.controls['phoneNumber'].hasError('pattern') ? 'isvaliderror' :  ''">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Mobile Number </mat-label>
                                                    <input matInput maxlength="10"
                                                        (keypress)="eventService.numberOnly($event, 'phoneNumber')"
                                                        formControlName="phoneNumber" placeholder="" />
                                                </mat-form-field>

                                                <div class="error mb-2" *ngIf="
                                                register_form.controls['phoneNumber'].touched &&
                                                register_form.controls['phoneNumber'].hasError('required')
                                                ">
                                                    Please complete this mandatory field.
                                                </div>

                                                <div class="error mb-2" *ngIf="
                                                register_form.controls['phoneNumber'].dirty &&
                                                register_form.controls['phoneNumber'].hasError('pattern')
                                            ">
                                                    Please add valid information
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <re-captcha formControlName="reCaptcha"></re-captcha>
                                                
                                            </div>
                                            <div class="error mt-2" *ngIf="register_form.controls['reCaptcha'].touched && register_form.controls['reCaptcha'].hasError('required')">
                                                reCaptcha verification failed
                                              </div>

                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="ButtonNow">
                                <!-- <a class="btn btn-secondary" (click)="eventService.back()">Back</a> -->
                                <button class="register_form" style="min-width: 100%; height: 50px;" [disabled]="isSubmit" (click)="getOtpbyPhone()">
                                    Next <mat-icon>keyboard_arrow_right</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>