.v2checkBox{
    overflow: hidden;
    position: relative;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
    margin-top: 40px;

    .backIcon {
        background: #fff;
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        margin-bottom: 10px;
        position: absolute;
        top: 12px;
        left: 12px;

        a{
            text-decoration: none;

            mat-icon{
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--main1);
                font-size: 24px;
            }
        }
    }

    &:before {
        content:'';
        width: 500px;
        height: 300px;
        opacity: 1;
        background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.3) 40%,
          rgba(255, 255, 255, 0.3) 60%,
          rgba(255, 255, 255, 0) 100%
        );
        transform-origin: center center;
        position: absolute;
        z-index: 10;
        animation-delay: .5s;
        animation-name: mask-ani;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    // &:hover:before{
    //     display: none;
    // }

    &:hover{
        animation: none;
    }
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}


@keyframes mask-ani {
    0% {
      transform: rotate(-56deg) translate(-40px, -430px);
    }
  
    70%, 100% {
      transform: rotate(-56deg) translate(-40px, 378px);
    }
}