// .container-wrapper {
//     display: flex; / Use flexbox to arrange containers /
//     flex-wrap: wrap; / Allow containers to wrap to the next line /
//     width: 1000px;
//   }
  
//   .container {
//     width: calc(50% - 10px); / Adjust width to fit two containers in one row with spacing /
//     margin: 0 5px; / Add some margin between containers /
//   }
  

.topBannerHeader{
    background-image: url(../../assets/LandingPage/bannerBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 30px 0px;

    .bannerText{

        h1{
            color: var(--main1);
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 13px;
            font-family: Poppins !important;
        }

        ul{
            padding-left: 0px;
            list-style: none;
            margin-bottom: 0px;

            li{
                position: relative;
                padding-left: 26px;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 4px;
                font-family: Poppins !important;
                color: #3F3F3F;
                line-height: 25px;

                img{
                    width: auto;
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    transform: translate(0%, -50%);
                }
            }
        }
    }
}

.creditReportSection{

    .title{
        text-align: center;
        position: relative;
        margin-bottom: 40px;

        &:before{
            left: 0px;
            position: absolute;
            width: 100%;
            height: 2px;
            content: "";
            background-color: #efefef;
            top: 20px;
            z-index: -1;
        }

        h2{
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 5px;
            color: #3F3F3F;

            span{
                background-color: #fff;
                padding: 0px 30px;
            }
        }

        p{
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 0px;
            font-family: Poppins !important;
            color: #3F3F3F;
            line-height: 25px;
        }
    }

    .scoreBox{
        box-shadow: 0px 3px 10px #272D3B24;
        border-radius: 20px;
        background-color: #fff;
        padding: 20px 20px;
        height: 100%;

        h3{
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 22px;
            color: #3F3F3F;
            text-align: center;
        }

        .buttonJob{
            margin-top: 20px;
            margin-bottom: 18px;
            text-align: center;

            .btn{
                border: 1px solid #12BA9B;
                border-radius: 5px;
                padding: 3px 30px;
                color: #12BA9B;
                font-weight: 600;
                font-size: 12px;
                font-family: Poppins !important;
            }
        }

        p{
            color: #3F3F3F;
            font-weight: normal;
            font-size: 12px;
            font-family: Poppins !important;
            line-height: 16px;
            margin-bottom: 18px;
            text-align: center;
        }

        .box{
            background-color: var(--main1);
            padding: 9px 13px 9px 37px;
            border-radius: 10px;
            position: relative;

            img{
                width: 16px;
                height: 16px;
                position: absolute;
                left: 15px;
                top: 13px;
            }

            span{
                color: #fff;
                font-weight: normal;
                font-size: 13px;
                font-family: Poppins !important;
                line-height: 18px;
            }
        }
    }

    .loanHistory{
        box-shadow: 0px 3px 30px #272D3B66;
        border-radius: 20px;
        padding: 34px 34px;
        background-color: #fff;
        height: 100%;

        &.currentCredit{
            box-shadow: 0px 3px 10px #272D3B24;

            .creditContent{

                .currentChart{
                    display: flex;
                    align-items: center;

                    img{
                        width: 130px;
                        height: 130px;
                    }

                    ul{
                        padding-left: 0px;
                        list-style: none;
                        margin-bottom: 0px;

                        li{
                            color: #3F3F3F;
                            font-size: 12px;
                            font-weight: normal;
                            line-height: 16px;
                            font-family: Poppins !important;
                            display: flex;
                            align-items: center;
                            gap: 6px;
                            margin-bottom: 8px;

                            span{
                                width: 15px;
                                height: 15px;
                                background-color: #fff;
                                display: flex;
                                border-radius: 50px;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                span{
                                    width: 8px;
                                    height: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .title{
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 22px;
            color: #3F3F3F;
            text-align: center;
        }

        .calendarBox{

            .year{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 18px;

                span{
                    color: #3F3F3F;
                    font-size: 14px;
                    font-weight: 500;
                    font-family: Poppins !important;
                    padding: 6px 22px;
                    border: 1px solid #CECECE;
                    border-radius: 8px;

                    &.active{
                        background-color: var(--main1);
                        color: #fff;
                    }
                }
            }

            ul{
                padding-left: 0px;
                list-style: none;
                margin-bottom: 30px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 5px;
                justify-content: center;

                li{
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;
                    border: 1px solid #CECECE;
                    background-color: #fff;
                    color: var(--main2);
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: Poppins !important;

                    &.active{
                        background-color: #FF7B24;
                        border-color: #FF7B24;
                        color: #fff;
                    }
                }
            }

            .missingPayment{
                text-align: center;
                color: #FF7B24;
                font-size: 14px;
                font-weight: 600;
                font-family: Poppins !important;
                margin-bottom: 8px;
            }

            p{
                font-size: 12px;
                font-weight: normal;
                margin-bottom: 0px;
                font-family: Poppins !important;
                color: #3F3F3F;
                line-height: 16px;
                text-align: center;
            }

            .defaultContent{
                background-color: #fafafa;
                padding: 8px 0px;
                border-radius: 10px;
                margin-top: 30px;

                h3{
                    font-weight: 600;
                    font-size: 16px;
                    font-family: Poppins !important;
                    color: #3F3F3F;
                    margin-bottom: 0px;
                    text-align: center;
                }
            }

            .defaultHistory{
                padding: 24px;
                border: 1px solid #E8E8E8;
                border-radius: 10px;
                background-color: #fff;
                text-align: center;

                h3{
                    display: flex;
                    align-items: flex-end;
                    gap: 8px;
                    font-size: 16px;
                    font-weight: 600;
                    color: #3F3F3F;
                    font-family: Poppins !important;
                    margin-bottom: 30px;
                    justify-content: center;

                    img{
                        width: 16px;
                        height: 16px;
                    }
                }

                .historyList{
                    padding-left: 0px;
                    list-style: none;
                    margin-bottom: 24px;
                    display: block;
                    width: 100%;

                    li{
                        width: auto;
                        height: auto;
                        color: #3F3F3F;
                        border: none;
                        font-size: 13px;
                        justify-content: space-between;
                        padding: 10px 0px;
                    }
                }
            }
        }

        .multiBox{
            padding: 24px 20px;
            border: 1px solid #6A2FC2;
            border-radius: 10px;
            background-color: #FBF8FF;
            display: flex;
            gap: 14px;

            img{
                width: 16px;
                height: 16px;
            }

            .textContent{

                h3{
                    font-size: 15px;
                    color: var(--main1);
                    margin-bottom: 5px;
                    font-weight: 600;
                    line-height: 18px;
                    font-family: Poppins !important;
                }

                p{
                    color: #3F3F3F;
                    font-weight: normal;
                    font-size: 13px;
                    font-family: Poppins !important;
                    line-height: 16px;
                    margin-bottom: 16px;

                    span{
                        display: flex;
                        color: #EC1111;
                        align-items: center;
                        gap: 8px;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 26px;
                    }
                }
            }
        }
    }

    .numberBox{
        box-shadow: 0px 3px 10px #272D3B24;
        border-radius: 20px;
        padding: 14px 12px;
        background-color: var(--main1);
        display: flex;
        align-items: center;
        gap: 12px;
        height: 165px;

        .content{
            height: 100%;
            
            h3{
                color: #fff;
                font-weight: 600;
                line-height: 18px;
                text-align: left;
                font-family: Poppins !important;
                font-size: 15px;
                margin-bottom: 14px;
            }

            p{
                color: #fff;
                font-weight: normal;
                line-height: 17px;
                text-align: left;
                font-family: Poppins !important;
                font-size: 12px;
                margin-bottom: 0px;
            }
        }

        .numberText{
            background-color: #fff;
            border-radius: 10px;
            padding: 20px 25px;
            min-width: 100px;

            p{
                color: #FF7B24;
                font-weight: 600;
                font-size: 50px;
                margin-bottom: 0px;
                font-family: Poppins !important;
                text-align: center;
            }

            span{
                font-size: 14px;
                font-weight: 500;
                color: #FF7B24;
                text-align: center;
                display: flex;
                justify-content: center;
                margin-top: -16px;
                line-height: 16px;            
            }
        }
    }
}

.gstFilings{
    background-color: #fafafa;

    .title{
        text-align: center;
        position: relative;
        margin-bottom: 40px;

        &:before{
            left: 0px;
            position: absolute;
            width: 100%;
            height: 2px;
            content: "";
            background-color: #ebebeb;
            top: 20px;
            z-index: 0;
        }

        h2{
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 5px;
            color: #3F3F3F;
            z-index: 1;
            position: relative;

            span{
                background-color: #fafafa;
                padding: 0px 30px;
            }
        }

        p{
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 0px;
            font-family: Poppins !important;
            color: #3F3F3F;
            line-height: 25px;
        }
    }

    .loanHistory{
        box-shadow: 0px 3px 30px #272D3B66;
        border-radius: 20px;
        padding: 34px 34px;
        background-color: #fff;
        height: 100%;

        &.currentCredit{
            box-shadow: 0px 3px 10px #272D3B24;

            .creditContent{

                .currentChart{
                    display: flex;
                    align-items: center;

                    img{
                        width: 130px;
                        height: 130px;
                    }

                    ul{
                        padding-left: 0px;
                        list-style: none;
                        margin-bottom: 0px;

                        li{
                            color: #3F3F3F;
                            font-size: 12px;
                            font-weight: normal;
                            line-height: 16px;
                            font-family: Poppins !important;
                            display: flex;
                            align-items: center;
                            gap: 6px;
                            margin-bottom: 8px;

                            span{
                                width: 15px;
                                height: 15px;
                                background-color: #fff;
                                display: flex;
                                border-radius: 50px;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                span{
                                    width: 8px;
                                    height: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .title{
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 22px;
            color: #3F3F3F;
            text-align: center;
        }

        .gstnumberBox {
            background: var(--main1);
            border-radius: 10px;
            padding: 16px 24px;
            height: 100%;

            ul{
                padding-left: 0px;
                margin-bottom: 0px;
                list-style: none;

                li{
                    padding: 8px 0px;
                    border-bottom: 1px solid #eeeeee;

                    &:last-child{
                        border-bottom: none;
                    }

                    h5{
                        color: #FFFFFF;
                        font-size: 14px;
                        font-weight: 600;
                        font-family: Poppins !important;
                        margin-bottom: 1px;
                    }

                    span{
                        color: #E2E2E2;
                        font-size: 14px;
                        font-weight: normal;
                        font-family: Poppins !important;
                    }

                    button{
                        border-radius: 5px;
                        background-color: var(--main2);
                        border: 1px solid var(--main2);
                        padding: 2px 16px;
                        font-size: 12px;
                        font-weight: 600;
                        font-family: Poppins !important;
                        text-transform: uppercase;
                        margin-top: 8px;
                        color: #FFFFFF;
                    }
                }
            }
        }

        .calendarBox{
            height: 100%;

            h3{
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 18px;
                color: #3F3F3F;
                text-align: center;
                font-family: Poppins !important;
            }

            ul{
                padding-left: 0px;
                list-style: none;
                margin-bottom: 30px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 9px;
                width: 90%;
                margin: 0 auto 18px;
                justify-content: center;

                li{
                    width: 45px;
                    height: 45px;
                    border: 1px solid var(--main2);
                    border-radius: 10px;
                    background-color: #fff;
                    color: var(--main2);
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: Poppins !important;

                    &.active{
                        background-color: #FF7B24;
                        border-color: #FF7B24;
                        color: #fff;
                    }
                }
            }

            .missingPayment{
                text-align: center;
                color: #FF7B24;
                font-size: 14px;
                font-weight: 600;
                font-family: Poppins !important;
                margin-bottom: 8px;
            }

            p{
                font-size: 12px;
                font-weight: normal;
                margin-bottom: 0px;
                font-family: Poppins !important;
                color: #3F3F3F;
                line-height: 16px;
                text-align: center;
            }
        }

        .multiBox{
            padding: 24px 20px;
            border: 1px solid #6A2FC2;
            border-radius: 10px;
            background-color: #FBF8FF;
            display: flex;
            gap: 14px;
            height: 100%;

            img{
                width: 16px;
                height: 16px;
            }

            .textContent{

                h3{
                    font-size: 15px;
                    color: var(--main1);
                    margin-bottom: 5px;
                    font-weight: 600;
                    line-height: 18px;
                    font-family: Poppins !important;
                }

                p{
                    color: #3F3F3F;
                    font-weight: normal;
                    font-size: 13px;
                    font-family: Poppins !important;
                    line-height: 16px;
                    margin-bottom: 16px;

                    span{
                        display: flex;
                        color: #EC1111;
                        align-items: center;
                        gap: 8px;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 26px;
                    }
                }
            }
        }
    }
}

.bankingHistory{

    .title{
        text-align: center;
        position: relative;
        margin-bottom: 30px;

        &:before{
            left: 0px;
            position: absolute;
            width: 100%;
            height: 2px;
            content: "";
            background-color: #ebebeb;
            top: 20px;
            z-index: 0;
        }

        h2{
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 5px;
            color: #3F3F3F;
            z-index: 1;
            position: relative;

            span{
                background-color: #fff;
                padding: 0px 30px;
            }
        }

        p{
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 0px;
            font-family: Poppins !important;
            color: #3F3F3F;
            line-height: 25px;
        }
    }

    .affordability{
        text-align: center;
        margin-bottom: 26px;

        h3{
            font-size: 22px;
            font-weight: 600;
            font-family: Poppins !important;
            color: var(--main1);
            margin-bottom: 2px;
        }

        p{
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 0px;
            font-family: Poppins !important;
            color: #3F3F3F;
            line-height: 25px;
        }
    }

    .businessTurnover{
      box-shadow: 0px 3px 10px #272D3B24;
      border-radius: 20px;
      padding: 30px 24px 24px;
      height: 100%;

      h3{
        font-size: 18px;
        color: #3F3F3F;
        margin-bottom: 8px;
        font-weight: 600;
        line-height: 22px;
        font-family: Poppins !important;
        text-align: center;
      }

      p{
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 12px;
        font-family: Poppins !important;
        color: #3F3F3F;
        line-height: 25px;
        text-align: center;
        padding: 0px 40px;
      }

      .chart{
        margin-bottom: 12px;

        canvas{
          width: 50% !important;
          height: 296px !important;
        }

        img{
            display: flex;
            margin: 0 auto;
            height: 200px;
            width: 100%;
        }

        ul{
            padding-left: 0px;
            list-style: none;
            margin-bottom: 0px;

            li{
                color: #3F3F3F;
                font-size: 12px;
                font-weight: normal;
                line-height: 16px;
                font-family: Poppins !important;
                display: flex;
                align-items: center;
                gap: 6px;
                margin-bottom: 8px;

                span{
                    width: 15px;
                    height: 15px;
                    background-color: #fff;
                    display: flex;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span{
                        width: 8px;
                        height: 8px;
                    }
                }
            }
        }
      }

      .chequeBounces{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: -20px;

          span {
            font-size: 50px;
            font-weight: 500;
            line-height: 26px;
            color: #FF7B24;
            font-family: Poppins !important;
            
            small{
              font-size: 12px;
            }
        }

        img{
          width: 110px;
          height: auto;
        }
      }

      .scoreProgress{

        ul{
            padding-left: 0px;
            list-style: none;
            margin-bottom: 0px;

            li{
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: space-between;
                padding: 8px 0px;

                span{
                    color: #3F3F3F;
                    font-size: 13px;
                    font-weight: 500;
                    font-family: Poppins !important;
                }
            }
        }
      }

      .downwardBox{
        border: 1px solid #6A2FC2;
        border-radius: 10px;
        padding: 12px 22px;
        display: flex;
        align-items: flex-start;
        gap: 12px;

        img{
          width: 16px;
          height: 16px;
        }

        .downwardContent{

          h4{
            font-size: 14px;
            color: var(--main1);
            margin-bottom: 2px;
            font-weight: 600;
            line-height: 18px;
            font-family: Poppins !important;
          }

          p{
            font-size: 13px;
            font-weight: normal;
            margin-bottom: 4px;
            font-family: Poppins !important;
            color: #3F3F3F;
            line-height: 16px;
            text-align: left;
            padding: 0px 0px;
          }

          span{
            display: flex;
            align-items: flex-start;
            gap: 3px;
            font-size: 14px;
            font-weight: 600;
            font-family: Poppins !important;
            color: var(--main2);
          }
        }
      }
    }

}

.actionImprove{
    background-color: #fafafa;

    .text{
        margin-bottom: 30px;

        h3{
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 5px;
            color: #3F3F3F;
            text-align: center;       
        }

        p{
            color: #3F3F3F;
            font-weight: normal;
            font-size: 14px;
            font-family: Poppins !important;
            line-height: 20px;
            margin-bottom: 0px;
            text-align: center;
        }
    }

    .improveBox{
        box-shadow: 0px 3px 10px #272D3B24;
        border-radius: 20px;
        background-color: #fff;
        padding: 24px;
        height: 100%;

        h3{
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 10px;
            color: #3F3F3F;
        }

        .numberImg{
            width: 70%;
        }

        .howBox{
            border: 1px solid #E8E8E8;
            border-radius: 10px;
            padding: 15px 20px;
            background-color: #fff;
            display: flex;
            align-items: flex-start;
            gap: 12px;

            img{
                width: 16px;
                height: 16px;
            }

            .content{

                h5{
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 10px;
                    color: var(--main1);
                    line-height: 18px;
                }

                p{
                    font-size: 13px;
                    font-weight: normal;
                    margin-bottom: 0px;
                    color: #3F3F3F;
                    line-height: 18px;
                }
            }
        }

        .summaryBox {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;

            

            .box {
                width: 50%;
                padding: 20px 20px;
                background: #fff;
                height: 100%;

                &:nth-child(1), &:nth-child(3){
                    border-right: 1px solid #E6E6E6;
                }
                &:nth-child(1), &:nth-child(2){
                    border-bottom: 1px solid #E6E6E6;
                }

                .summaryContent {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    height: 40px;

                    img {
                        width: auto;
                        height: 22px;
                    }

                    span{
                        text-align: center;
                        font-size: 16px;
                        font-weight: 600;
                        margin-bottom: 0px;
                        font-family: Poppins !important;
                        color: #3F3F3F;
                    }
                }

                ul{
                    padding-left: 0px;
                    list-style: none;
                    margin-bottom: 0px;
                    margin-top: 10px;

                    li{
                        position: relative;
                        padding: 0px 20px 8px;
                        font-size: 14px;
                        font-weight: 500;
                        margin-bottom: 0px;
                        font-family: Poppins !important;
                        color: #3F3F3F;


                        span{
                            width: 10px;
                            height: 10px;
                            border-radius: 50px;
                            display: block;
                            position: absolute;
                            left: 0px;
                            top: 6px;
                        }
                    }
                }
            }
            .plusBox {
                width: 50%;
                padding: 62px 0px;
                height: 100%;
                background: #F6F6F6;
                text-align: center;

                b{
                    border: 1px solid #D8D8D8;
                    border-radius: 8px;
                    background-color: #fff;
                    font-size: 22px;
                    font-weight: 700;
                    width: 30px;
                    height: 30px;
                    margin: 0 auto 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                span{
                    color: #3F3F3F;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: normal;
                    font-family: Poppins !important;
                }
            }
        }
    }


    .overollScore{
        box-shadow: 0px 3px 10px #272D3B24;
        border-radius: 20px;
        background-color: var(--main1);
        padding: 20px 24px;

        .boxRight{

            .border-right:nth-child(1), .border-right:nth-child(2){

                .overallBox{
                    border-right: 1px solid #A070E8;
                }
            }
        }

        h2{
            font-size: 18px;
            color: #fff;
            margin-bottom: 30px;
            font-weight: 600;
            line-height: 18px;
            font-family: Poppins !important;
            text-align: center;
        }

        .overallBox {
            display: flex;
            align-items: flex-start;
            gap: 14px;
            padding-right: 20px;
            height: 100%;

            img{
                width: 45px;
                height: auto;
            }

            .text{

                h5{
                    font-size: 16px;
                    color: #fff;
                    margin-bottom: 8px;
                    font-weight: 600;
                    line-height: 28px;
                    font-family: Poppins !important;
                }

                p{
                    font-size: 13px;
                    color: #fff;
                    margin-bottom: 0px;
                    font-weight: normal;
                    line-height: 20px;
                    font-family: Poppins !important;
                    text-align: left;
                }
            }
        }
    }
}

.faqsection{
    background-color: #fafafa;

    .text{
        margin-bottom: 40px;

        h3{
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 0px;
            color: #3F3F3F;
            text-align: center;       
        }
    }
}