
.forSMEComponent {

    .SecuredBusinessLoan {
        position: relative;

        .homeSlider {
            // position: relative;
    
            .silderSlide{
                position: relative;
                height: 604px;
                overflow: hidden;
            
                .image{
                    display: block;
                    width: 100%;
                }
    
                .silderText{
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    transform: translate(0%, -50%);
                    z-index: 9;
                    display: block;
                    width: 100%;
    
                    .title{

                        .mainHeading{
                            letter-spacing: -1.44px;
                            color: #FFFFFF;
                            font-weight: 600;
                            font-size: 48px;
                            line-height: 44px;
                            margin-bottom: 5px;
                            font-family: 'Be Vietnam Pro' !important;
                        }

                        .colorBox{
                            border-radius: 7px;
                            background-color: #C3E128;
                            padding: 2px 8px;
                            margin-bottom: 22px;
                            color: #222;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 26px;
                            font-family: Poppins !important;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        p{
                            position: relative;
                            color: #FFFFFF;
                            font-size: 14px;
                            line-height: 22px;
                            font-weight: normal;
                            font-family: Poppins !important;
                            margin-bottom: 12px;
                            padding-left: 32px;

                            img{
                                position: absolute;
                                left: 0px;
                                top: 2px;
                            }

                        }

                        .pricingBtn{
                            margin-top: 50px;

                            .btn{
                                background-color: var(--main2);
                                border-radius: 23px;
                                padding: 10px 26px;
                                color: #fff;
                                font-size: 16px;
                                font-family: Poppins !important;
                                font-weight: 500;
                                line-height: 22px;
                            }
                        }
                    }
                }
            }
        }
    }
}







@media (max-width: 767px) {

    .SecuredBusinessLoan {

        .homeSlider {
                .silderSlide{
                        height: 100% !important;

                        img{
                            height: 100%;
                        }
        
                    .silderText{
                        transform: translate(0%, -60%) !important;
                        text-align: center !important;
                        padding: 0px 20px;
                        width: 100% !important;
                        bottom: auto !important;
        
                        h1{
                            font-size: 25px !important;
                            line-height: 30px !important;
                        }

                        p{
                            padding-right: 0px !important;
                        }

                        .title {
                            p {
                                font-size: 25px !important;
                                line-height: 30px !important;
                                padding-right: 0px;
                            }
                        }
                        h2{
                            font-size: 14px !important;
                            margin-bottom: 0px !important;
                            line-height: 18px !important;
                            padding-right: 0px !important;
                        }
                    }
                }
            }

            .boxSizeRight{
                top: auto !important;
                transform: translate(-50%, -6%) !important;
                bottom: 16px;
                left: 50% !important;
                width: 100%;
            }
    }
}

@media (max-width: 420px) {

    .SecuredBusinessLoan {
        .homeSlider {

            ::ng-deep {

                .owl-dots {
                    bottom: 33% !important;
                    justify-content: center;
                    margin-top: 0px;
                }
            }
        }
    }

}

@media (max-width: 360px) {

    .SecuredBusinessLoan {

        .homeSlider {
        
                .silderSlide{
        
                    .silderText{
                        transform: translate(0%, -60%) !important;
        
                    }
                }

                ::ng-deep {

                    .owl-dots {
                        bottom: 35% !important;
                    }
                }
            }
    }
}

@media (min-width: 576px) {

    .forSMEComponent {

        .SecuredBusinessLoan {
    
            .homeSlider {
    
                ::ng-deep{
        
                    .owl-dots {
                        width: 540px;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {

    .forSMEComponent {

        .SecuredBusinessLoan {
    
            .homeSlider {
    
                ::ng-deep{
        
                    .owl-dots {
                        width: 960px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {

    .forSMEComponent {

        .SecuredBusinessLoan {
    
            .homeSlider {
    
                ::ng-deep{
        
                    .owl-dots {
                        width: 996px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1400px) {

    .forSMEComponent {

        .SecuredBusinessLoan {
    
            .homeSlider {
    
                ::ng-deep{
        
                    .owl-dots {
                        width: 996px;
                    }
                }
            }
        }
    }
}

.BusinessLoanOption{
    padding-top: 50px;
    padding-bottom: 80px;

    .businessText{

        .content{
            margin-bottom: 36px;
            padding-right: 30px;

            h2{
                font-size: 40px;
                color: var(--main1);
                line-height: 44px;
                font-weight: 700;
                font-family: 'Be Vietnam Pro' !important;
                margin-bottom: 9px;
            }
    
            p{
                color: #3F3F3F;
                margin-bottom: 5px;
                font-size: 18px;
                font-weight: 500;
                font-family: Poppins !important;
            }
        }

        .iconBox{
            text-decoration: none;
            display: block;
            border: 1px solid #E8E8E8;
            border-radius: 10px;
            background-color: #fff;
            text-align: center;
            padding: 18px 38px;
            margin-bottom: 10px;

            &:hover{
                background-color: #C3E128;
                box-shadow: 15px 15px 15px #0000001A;
                transition: .5s;
            }

            span{
                width: 50px;
                height: 50px;
                display: block;
                margin: 0 auto;
                margin-bottom: 17px;

                img{
                    width: 50px;
                    height: 50px;
                    object-fit: initial;
                }
            }

            h3{
                font-size: 14px;
                color: #3F3F3F;
                font-family: Poppins !important;
                line-height: 16px;
                margin-bottom: 0px;
            }

            .btnArrow{
                margin-top: 12px !important;
                width: 28px;
                height: 28px;
                border: 2px solid var(--main1);
                display: flex;
                border-radius: 50%;
                text-decoration: none;
                margin: 0 auto;
                align-items: center;
                justify-content: center;
                color: var(--main1);
            }
        }

        .ButtonNow{
            justify-content: start;
            margin-top: 30px;

            a{
                background-color: var(--main1);
            }
        }
    }

    .businessImg{
        height: 100%;
        padding-left: 30px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}


@media (max-width: 767px){

    .BusinessLoanOption{
        padding-bottom: 70px;
    
        .businessText{
    
            .content{
                margin-bottom: 20px;
                padding-right: 0px;
    
                h2{
                    font-size: 24px;
                    line-height: 30px;;
                }
        
                p{
                    font-size: 14px;
                }
            }
    
            .iconBox{
                padding: 10px 20px;
    
                h3{
                    font-weight: 500;
                    min-height: 30px;
                }
            }
    
            .ButtonNow{
                justify-content: center;
            }
        }
    
        .businessImg{
            padding-left: 0px;
            margin-bottom: 30px;
        }
    
    }
}


@media (max-width:767px) {

    .SecuredBusinessLoan{

        .homeSlider{
    
            .silderSlide{
    
                .silderText{

                    .title{
                        margin-top: 60px;
                        margin-bottom: 30px;

                        &.shineTitle{
    
                        .mainHeading{
                            font-size: 26px !important;
                            text-transform: uppercase;
                            text-align: center;
                        }
    
                         p{
                            font-size: 15px !important;
                            line-height: 22px !important;
                            text-align: center;
                            margin-bottom: 8px !important;
                         }
                        }
                    }

                    &.mobileResponsive{
                        transform: translate(0%, 0%) !important;
                    }
    
                    .getStartButtonBanner{
                        justify-content: center !important;
                        margin-right: 0px !important;
                    }
                }
            }
        }
    }
}