<div class="forSMEComponent" *ngIf="isBrowser">
  <div class="SecuredBusinessLoan" *ngIf="SecuredProductBannerData && SecuredProductBannerData.length > 0">
    <div class="container-fluid p-0">
      <div class="homeSlider">
        <div class="silderSlide">
          <img *ngIf="showDesktop" class="image mhidden"
            src="https://dzzu957mxv8q0.cloudfront.net/images/website/home/home_slide_01.webp" />
          <img *ngIf="!showDesktop" class="image dhidden"
            src="https://dzzu957mxv8q0.cloudfront.net/images/website/home/home_slide_mobile_01.webp" />
          <div class="silderText mobileResponsive">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-6">
                  <div class="title shineTitle">
                    <h1 class="mainHeading">
                      Welcome to Shine!
                    </h1>
                    <div class="colorBox">
                      Identify Issues. Improve Credit. Secure Capital.
                    </div>
                    <p>
                      <img src="./assets/LandingPage/checkStar.svg" alt="">
                      Our analysis reveals the obstacles to your loan success; we offer precise steps, from a lender's
                      eye, to enhance your loan eligibility.
                    </p>
                    <p>
                      <img src="./assets/LandingPage/checkStar.svg" alt="">
                      Become Business Loan Eligible in 3-6 months.
                    </p>

                    <div class="pricingBtn">
                      <a href="" class="btn">Check Pricing</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="twoSectionMarge section_padding" style="background-image: url(./assets/LandingPage/rightDesign.png);">

    <div class="betterLoanOpportunties">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
            <div class="boxContent">
              <div class="content">
                <h3>Bureau</h3>
                <p>Discover the secrets within your Bureau report, focusing on credit mix, loan inquiries, and repayment
                  patterns. Gain an edge with insights for credit optimization, elevating your profile and unlocking
                  lending opportunities.</p>
              </div>
              <div class="boxIcon">
                <img src="./assets/LandingPage/homeIconW.svg" alt="">
              </div>
            </div>
            <div class="boxContent">
              <div class="content">
                <h3>Banking</h3>
                <p>Navigate the intricacies of your GST filings with precision. We analyse your GST data to showcase
                  your business’s financial health from a lender’s perspective.</p>
              </div>
              <div class="boxIcon">
                <img src="./assets/LandingPage/homeIconW.svg" alt="">
              </div>
            </div>
            <div class="boxContent">
              <div class="content">
                <h3>GST</h3>
                <p>Banking transactions tell your business’s story. Our insights guide you to optimize transactions,
                  manage balances, and present a compelling case for loan eligibility and favourable terms which lenders
                  can’t ignore.</p>
              </div>
              <div class="boxIcon">
                <img src="./assets/LandingPage/searchIconB.svg" alt="">
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-10 col-sm-12 mb-3">
            <div class="rightContent">
              <h3>What Stands Between <span> You and Better Loan Opportunities?</span></h3>
              <p>The only tool revealing lender insights by analysing your Bureau, GST, & Banking data.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="transformFinance">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
            <div class="rightContent">
              <h3>Transform Finance: <span> See What Others Don't</span></h3>
              <p>The only tool revealing lender insights by analysing your Bureau, GST, & Banking data.</p>
            </div>
          </div>
          <div class="col-lg-8 col-md-12 col-sm-12 mb-3">
            <div class="laptopSilder">
              <img class="laptopView" src="./assets/LandingPage/laptop.png" alt="">
              <owl-carousel-o [options]="customOptionKeys">
                <ng-container>
                  <ng-template carouselSlide>
                    <div class="setSilder">
                      <div class="textSilder">
                        <img src="./assets/LandingPage/checkStar.svg" alt="">
                        <span>Increase Loan Possibility!</span>
                      </div>
                      <div class="laptopAnderImg">
                        <img src="./assets/LandingPage/laptopAnder.png" alt="">
                      </div>
                    </div>
                  </ng-template>

                  <ng-template carouselSlide>
                    <div class="setSilder">
                      <div class="textSilder">
                        <img src="./assets/LandingPage/checkStar.svg" alt="">
                        <span>Increase Loan Possibility!</span>
                      </div>
                      <div class="laptopAnderImg">
                        <img src="./assets/LandingPage/laptopAnder.png" alt="">
                      </div>
                    </div>
                  </ng-template>

                  <ng-template carouselSlide>
                    <div class="setSilder">
                      <div class="textSilder">
                        <img src="./assets/LandingPage/checkStar.svg" alt="">
                        <span>Increase Loan Possibility!</span>
                      </div>
                      <div class="laptopAnderImg">
                        <img src="./assets/LandingPage/laptopAnder.png" alt="">
                      </div>
                    </div>
                  </ng-template>

                  <ng-template carouselSlide>
                    <div class="setSilder">
                      <div class="textSilder">
                        <img src="./assets/LandingPage/checkStar.svg" alt="">
                        <span>Increase Loan Possibility!</span>
                      </div>
                      <div class="laptopAnderImg">
                        <img src="./assets/LandingPage/laptopAnder.png" alt="">
                      </div>
                    </div>
                  </ng-template>
                </ng-container>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="advantagesShine">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 m-auto">
          <div class="content">
            <h3>Advantages of Using <span> Shine</span></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text.</p>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="rowTable">
            <ul class="tableHeading">
              <li>TTILE TEXTS 1</li>
              <li>TTILE TEXTS 2</li>
              <li>TTILE TEXTS 3</li>
            </ul>
            <ul class="tableBox">
              <li>Lorem Ipsum is simply dummy</li>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
            </ul>
            <ul class="tableBox">
              <li>Lorem Ipsum is simply dummy</li>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
            </ul>
            <ul class="tableBox">
              <li>Lorem Ipsum is simply dummy</li>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
            </ul>
            <ul class="tableBox">
              <li>Lorem Ipsum is simply dummy</li>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="shineHelp" style="background-image: url(./assets//LandingPage/blueBackground.png);">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="content">
            <h3>How Shine will Help Your Loan Prospects</h3>
            <p>Be Loan Ready in 3 Steps</p>
          </div>
        </div>

        <div class="col-lg-7 col-md-10 col-sm-12 m-auto">
          <div class="boxCenter">
            <div class="row justify-content-center;">
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="box">
                  <img src="https://dzzu957mxv8q0.cloudfront.net/images/website/home/loan_big.svg" alt="">
                  <p>Assess</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="box">
                  <img src="https://dzzu957mxv8q0.cloudfront.net/images/website/other/High%20conversion%20rate.svg"
                    alt="">
                  <p>Correct</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="box">
                  <img src="https://dzzu957mxv8q0.cloudfront.net/images/website/home/rupees_big.png" alt="">
                  <p>Achieve</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="contentBtn">
              <p>Start your journey to your dream loan now! <br> Make the changes we recommend and be loan ready in 3-6
                months.</p>
              <button class="btn">Check Pricing</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="BusinessLoanOption">
    <div class="container">
      <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 m-auto">
        <div class="content">
          <button class="btn">
            Deep Dive
          </button>
          <h3>Comprehensive Analysis Tailored for Your Business</h3>
          <p>Experience a new level of financial understanding with detailed reviews of your GST, banking, and credit
            data, helping you make strategic moves.</p>
        </div>
      </div>
      <div class="row row-cols-5">
        <div class="col">
          <div class="box">
            <img src="{{aaa?.Product_Tiles?.Icon}}" alt="">
            <p>{{aaa?.Product_Tiles?.Product_copy}}</p>
          </div>
        </div>
        <div class="col">
          <div class="box">
            <img src="https://dzzu957mxv8q0.cloudfront.net/images/website/home/secure_loan.svg" alt="">
            <p>Loan Repayment History</p>
          </div>
        </div>
        <div class="col">
          <div class="box">
            <img src="https://dzzu957mxv8q0.cloudfront.net/images/website/home/secure_loan.svg" alt="">
            <p>Current Debt Analysis</p>
          </div>
        </div>
        <div class="col">
          <div class="box">
            <img src="https://dzzu957mxv8q0.cloudfront.net/images/website/home/secure_loan.svg" alt="">
            <p>Business Risk</p>
          </div>
        </div>
        <div class="col">
          <div class="box">
            <img src="https://dzzu957mxv8q0.cloudfront.net/images/website/home/secure_loan.svg" alt="">
            <p>Loan Inquiries</p>
          </div>
        </div>
        <div class="col">
          <div class="box">
            <img src="https://dzzu957mxv8q0.cloudfront.net/images/website/home/secure_loan.svg" alt="">
            <p>GST Filings History</p>
          </div>
        </div>
        <div class="col">
          <div class="box">
            <img src="https://dzzu957mxv8q0.cloudfront.net/images/website/home/secure_loan.svg" alt="">
            <p>Business Credit Amount & Count</p>
          </div>
        </div>
        <div class="col">
          <div class="box">
            <img src="https://dzzu957mxv8q0.cloudfront.net/images/website/home/secure_loan.svg" alt="">
            <p>Average Banking Balance</p>
          </div>
        </div>
        <div class="col">
          <div class="box">
            <img src="https://dzzu957mxv8q0.cloudfront.net/images/website/home/secure_loan.svg" alt="">
            <p>Monthly Running Expenses</p>
          </div>
        </div>
        <div class="col">
          <div class="box">
            <img src="https://dzzu957mxv8q0.cloudfront.net/images/website/home/secure_loan.svg" alt="">
            <p>Cashflow Stability</p>
          </div>
        </div>
        <div class="col">
          <div class="box">
            <img src="https://dzzu957mxv8q0.cloudfront.net/images/website/home/secure_loan.svg" alt="">
            <p>Debt-to-Turnover Ratio</p>
          </div>
        </div>
        <div class="col">
          <div class="box">
            <img src="https://dzzu957mxv8q0.cloudfront.net/images/website/home/secure_loan.svg" alt="">
            <p>Cheque Bounces</p>
          </div>
        </div>
        <div class="col-7 pe-0">
          <div class="boxImg">
            <img src="./assets/LandingPage/boxImg.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-testimonial [testimonialData]="Sme_Testimonial"></app-testimonial>

  <app-faq></app-faq>
</div>
