.forSMEComponent {

    .SecuredBusinessLoan {
        position: relative;

        .homeSlider {
            // position: relative;

            .silderSlide {
                position: relative;
                height: 604px;
                overflow: hidden;

                .image {
                    display: block;
                    width: 100%;
                }

                .silderText {
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    transform: translate(0%, -25%);
                    z-index: 9;
                    display: block;
                    width: 100%;

                    .title {

                        .mainHeading {
                            letter-spacing: -1.44px;
                            color: #FFFFFF;
                            font-weight: 600 !important;
                            font-size: 48px;
                            line-height: 44px;
                            margin-bottom: 5px;
                            font-family: 'Be Vietnam Pro' !important;
                        }

                        .colorBox {
                            border-radius: 7px;
                            background-color: #C3E128;
                            padding: 2px 12px;
                            margin-bottom: 22px;
                            color: #222;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 26px;
                            font-family: Poppins !important;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: max-content;
                        }

                        p {
                            position: relative;
                            color: #FFFFFF;
                            font-size: 14px;
                            line-height: 22px;
                            font-weight: normal;
                            font-family: Poppins !important;
                            margin-bottom: 12px;
                            padding-left: 32px;

                            img {
                                position: absolute;
                                left: 0px;
                                top: 2px;
                                width: 20px;
                                height: 20px;
                            }

                        }

                        .pricingBtn {
                            margin-top: 50px;

                            .btn {
                                background-color: var(--main2);
                                border-radius: 23px;
                                padding: 10px 26px;
                                color: #fff;
                                font-size: 16px;
                                font-family: Poppins !important;
                                font-weight: 500;
                                line-height: 22px;
                            }
                        }
                    }
                    
                    .imgBanner{
                        position: absolute;
                        top: 50%;
                        right: -30px;
                        transform: translate(0%, -50%);
                        width: 60%;
                    }
                }
            }
        }
    }

    .twoSectionMarge {
        background-repeat: no-repeat;
        background-position: right;

        .betterLoanOpportunties {
            padding-bottom: 60px;

            .boxColor {

                .boxBackground {
                    &:nth-of-type(2) {

                        .boxContent {
                            background-color: var(--main1);
                        }
                    }
                    
                    &:nth-of-type(4) {

                        .boxContent {
                            background-color: #C3E128;

                            .content {

                                h3 {
                                    color: #222222;
                                }
        
                                p {
                                    color: #222222;
        
                                }
                            }
                        }
                    }
                }
            }

            .boxContent {
                box-shadow: 6px 6px 20px #0000001A;
                border-radius: 20px;
                background-color: var(--main2);
                margin-bottom: 10px;
                padding: 20px 30px;

                .content {

                    h3 {
                        color: #FFFFFF;
                        font-size: 18px;
                        line-height: 28px;
                        font-weight: 600;
                        font-family: Poppins !important;
                        margin-bottom: 9px;
                    }

                    p {
                        color: #FFFFFF;
                        font-size: 13px;
                        line-height: 19px;
                        font-weight: normal;
                        font-family: Poppins !important;
                        margin-bottom: 2px;
                        width: 90%;
                        // overflow: hidden;
                        // -o-text-overflow: ellipsis;
                        // text-overflow: ellipsis;
                        // display: -webkit-box;
                        // -webkit-line-clamp: 6;
                        // -webkit-box-orient: vertical;
                    }
                }

                .boxIcon {
                    display: flex;
                    justify-content: flex-end;

                    img {
                        width: auto;
                        height: 64px;
                    }
                }
            }

            .Content {
                text-align: center;
                margin-bottom: 26px;

                h3 {
                    color: #3f3f3f;
                    font-size: 30px;
                    line-height: 37px;
                    font-weight: 700;
                    font-family: 'Be Vietnam Pro' !important;
                    margin-bottom: 14px;

                    span {
                        color: var(--main1);
                        display: block;
                    }
                }

                p {
                    color: #3f3f3f;
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: normal;
                    font-family: Poppins !important;
                    margin-bottom: 2px;

                }
            }
        }

        .transformFinance {
            background-color: #F3F3F3;
            padding: 65px 0px;
            z-index: -1;
            position: relative;

            .rightContent {
                position: relative;
                z-index: 9;

                h3 {
                    color: #3f3f3f;
                    font-size: 30px;
                    line-height: 37px;
                    font-weight: 700;
                    font-family: 'Be Vietnam Pro' !important;
                    margin-bottom: 14px;

                    span {
                        color: var(--main1);
                        display: block;
                    }
                }

                p {
                    color: #3f3f3f;
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: normal;
                    font-family: Poppins !important;
                    margin-bottom: 2px;

                }
            }

            .laptopSilder {
                position: relative;
                overflow: hidden;
                z-index: 9;

                .textSilder {
                    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1019607843);
                    border: 1px solid #12BA9B;
                    border-radius: 10px;
                    padding: 12px 22px;
                    text-align: center;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: fit-content;
                    top: -250px;
                    z-index: 99999;
                    background: #fff;
                    left: 30px;

                    img {
                        width: 32px;
                        height: 32px;
                        position: absolute;
                        z-index: 999;
                        left: -20px;
                    }

                    span {
                        font-size: 16px;
                        line-height: 22px;
                        color: var(--main2);
                        font-weight: 600;
                        font-family: Poppins !important;
                    }
                }

                .laptopView {
                    width: 510px;
                    display: flex;
                    margin: 0px 0px 0px auto;
                }

                .laptopAnderImg {
                    position: absolute;
                    top: -35px;
                    left: 460px;
                    transform: translate(100%, -100%);

                    img {
                        height: 242px;
                        width: auto;
                        margin: auto;
                    }
                }

                owl-carousel-o {

                    ::ng-deep {

                        .owl-carousel {

                            .owl-stage-outer {
                                overflow: visible;
                            }
                        }

                        .owl-dots {

                            .owl-dot {

                                &.active {

                                    span {
                                        background: var(--main2);
                                    }
                                }

                                &:hover {

                                    span {
                                        background: var(--main2);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .advantagesShine {
        padding: 0px 0px 60px;

        .content {
            text-align: center;
            margin-bottom: 22px;

            h3 {
                color: #3f3f3f;
                font-size: 30px;
                line-height: 37px;
                font-weight: 700;
                font-family: 'Be Vietnam Pro' !important;
                margin-bottom: 8px;

                span {
                    color: var(--main2);
                }
            }

            p {
                color: #3f3f3f;
                font-size: 14px;
                line-height: 22px;
                font-weight: normal;
                font-family: Poppins !important;
                margin-bottom: 2px;

            }
        }

        .rowTable {
            border-top: 1px solid #ECECEC;

            .tableHeading {
                padding-left: 0px;
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0px;

                li {
                    text-transform: uppercase;
                    color: #989898;
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 500;
                    font-family: Poppins !important;
                    padding: 30px 30px 15px;
                    width: -webkit-fill-available;

                    &:nth-of-type(2) {
                        color: var(--main2);
                    }

                    &:nth-of-type(3) {
                        color: var(--main1);
                    }
                }
            }

            .tableBox {
                padding-left: 0px;
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                box-shadow: 0px 3px 10px #0000000F;
                border: 1px solid #E8E8E8;
                border-radius: 10px;
                margin-bottom: 15px;

                li {
                    text-transform: uppercase;
                    color: #3F3F3F;
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 600;
                    font-family: Poppins !important;
                    padding: 18px 30px 18px;
                    height: 100%;
                    width: -webkit-fill-available;


                    &:nth-of-type(2) {
                        background-color: #41C8AF20;
                    }
                }
            }
        }
    }

    .shineHelp {
        padding: 60px 0px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            background-image: url(../../../assets/LandingPage/leftDesign.png);
            background-repeat: no-repeat;
            width: 300px;
        }

        .content {
            text-align: center;
            margin-bottom: 22px;

            h3 {
                color: #fff;
                font-size: 30px;
                line-height: 37px;
                font-weight: 800;
                font-family: 'Be Vietnam Pro' !important;
                margin-bottom: 8px;

                span {
                    color: var(--main2);
                }
            }

            p {
                color: #fff;
                font-size: 14px;
                line-height: 22px;
                font-weight: normal;
                font-family: Poppins !important;
                margin-bottom: 2px;

            }
        }

        .boxCenter {
            padding: 60px 0px;
            position: relative;
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                background-image: url(../../../assets/LandingPage/centerDesign.png);
                height: 280px;
                width: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-36%, -50%);
                background-repeat: no-repeat;
                z-index: -1;
            }

            .box {
                border: 1px solid #E1E1E1;
                border-radius: 20px;
                background-color: #fff;
                padding: 24px 22px;
                text-align: center;
                margin-bottom: 15px;
                height: 175px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                img {
                    width: auto;
                    height: 60px;
                    margin: 0px auto;
                }

                p {
                    color: var(--main1);
                    font-size: 16px;
                    line-height: 18px;
                    font-weight: 600;
                    font-family: Poppins !important;
                    margin-bottom: 2px;
                    width: 100%;
                }
            }
        }

        .contentBtn {
            text-align: center;

            p {
                color: #FFFFFF;
                font-size: 14px;
                line-height: 22px;
                font-weight: normal;
                font-family: Poppins !important;
                margin-bottom: 14px;
            }

            .btn {
                background-color: var(--main2);
                border-radius: 23px;
                padding: 10px 26px;
                color: #fff;
                font-size: 16px;
                font-family: Poppins !important;
                font-weight: 500;
                line-height: 22px;
            }
        }
    }

    .BusinessLoanOption {
        background-color: #FAFAFA;
        padding: 60px 0px;

        .content {
            text-align: center;
            margin-bottom: 16px;

            .btn {
                border: 1px solid #D1D1D1;
                border-radius: 10px;
                background-color: #fff;
                padding: 8px 32px;
                font-size: 16px;
                color: var(--main2);
                line-height: 22px;
                font-weight: 600;
                min-width: 155px;
                max-width: 155px;
                height: 46px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0px auto 18px;
            }

            h3 {
                color: #3F3F3F;
                font-size: 30px;
                line-height: 37px;
                font-weight: 800;
                font-family: 'Be Vietnam Pro' !important;
                margin-bottom: 8px;

                span {
                    color: var(--main2);
                }
            }

            p {
                color: #3F3F3F;
                font-size: 14px;
                line-height: 22px;
                font-weight: normal;
                font-family: Poppins !important;
                margin-bottom: 2px;

            }
        }

        .box {
            border: 1px solid #E1E1E1;
            border-radius: 20px;
            background-color: #fff;
            padding: 24px 22px;
            text-align: center;
            margin-bottom: 15px;
            height: 175px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            transition: .5s;

            &:hover{
                background-color: #C3E128;
            }

            img {
                width: auto;
                height: 60px;
                margin: 0px auto;
            }

            p {
                color: #3F3F3F;
                font-size: 14px;
                line-height: 18px;
                font-weight: 500;
                font-family: Poppins !important;
                margin-bottom: 2px;
                width: 100%;
            }
        }

        .boxImg {
            height: 175px;

            img {
                border-radius: 20px;
                width: 100%;
                height: 100%;
            }
        }
    }

    .guaranteedLoan{
        padding: 60px 0px;

        .content {
            text-align: center;
            margin-bottom: 40px;

            h3 {
                color: #3F3F3F;
                font-size: 30px;
                line-height: 37px;
                font-weight: 800;
                font-family: 'Be Vietnam Pro' !important;
                margin-bottom: 8px;
            }

            p {
                color: #3F3F3F;
                font-size: 14px;
                line-height: 22px;
                font-weight: normal;
                font-family: Poppins !important;
                margin-bottom: 2px;

            }
        }

        .yourRankingSilder{

            .improveBox {
                box-shadow: 0px 3px 10px #272D3B24;
                border-radius: 20px;
                background-color: #fff;
                padding: 24px;
                height: 100%;
                margin: 10px;
        
                h3 {
                    text-align: center;
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 10px;
                    color: #3F3F3F;
                }
        
                .numberImg {
                    width: 70%;
                }
        
                .howBox {
                    border: 1px solid #E8E8E8;
                    border-radius: 10px;
                    padding: 15px 20px;
                    background-color: #fff;
                    display: flex;
                    align-items: flex-start;
                    gap: 12px;
        
                    img {
                        width: 16px;
                        height: 16px;
                    }
        
                    .content {
        
                        h5 {
                            font-size: 14px;
                            font-weight: 600;
                            margin-bottom: 10px;
                            color: var(--main1);
                            line-height: 18px;
                            text-align: left;
                        }
        
                        p {
                            font-size: 13px;
                            font-weight: normal;
                            margin-bottom: 0px;
                            color: #3F3F3F;
                            line-height: 18px;
                            text-align: left;
                        }
                    }
                }
            }

            .box{
                position: relative;
                background-color: var(--main1);
                padding: 22px 30px;
                border-radius: 10px;
                margin-left: 20px;

                &::before{
                    position: absolute;
                    content: "";
                    width: 30px;
                    height: 30px;
                    background: var(--main1);
                    clip-path: polygon(99% 1%, 100% 100%, 0 100%, 0 100%);
                    top: 50%;
                    transform: translate(0%, -50%);
                    left: -25px;
                    z-index: -1;
                }

                p{
                    color: #fff;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: normal;
                    font-family: Poppins !important;
                    margin: 2px 0px;
                }
            }
        }
    }
}



@media (max-width: 767px) {

    .SecuredBusinessLoan {

        .homeSlider {
                .silderSlide{
                        height: 100% !important;

                        img{
                            height: 100%;
                        }
        
                    .silderText{
                        transform: translate(0%, -60%) !important;
                        text-align: center !important;
                        padding: 0px 20px;
                        width: 100% !important;
                        bottom: auto !important;
        
                        h1{
                            font-size: 25px !important;
                            line-height: 30px !important;
                        }

                        p{
                            padding-right: 0px !important;
                        }

                        .title {
                            p {
                                font-size: 25px !important;
                                line-height: 30px !important;
                                padding-right: 0px;
                            }
                        }
                        h2{
                            font-size: 14px !important;
                            margin-bottom: 0px !important;
                            line-height: 18px !important;
                            padding-right: 0px !important;
                        }
                    }
                }
            }

            .boxSizeRight{
                top: auto !important;
                transform: translate(-50%, -6%) !important;
                bottom: 16px;
                left: 50% !important;
                width: 100%;
            }
    }
}

// @media (max-width: 420px) {

//     .SecuredBusinessLoan {
//         .homeSlider {

//             ::ng-deep {

//                 .owl-dots {
//                     bottom: 33% !important;
//                     justify-content: center;
//                     margin-top: 0px;
//                 }
//             }
//         }
//     }

// }

// @media (max-width: 360px) {

//     .SecuredBusinessLoan {

//         .homeSlider {
        
//                 .silderSlide{
        
//                     .silderText{
//                         transform: translate(0%, -60%) !important;
        
//                     }
//                 }

//                 ::ng-deep {

//                     .owl-dots {
//                         bottom: 35% !important;
//                     }
//                 }
//             }
//     }
// }

// @media (min-width: 576px) {

//     .forSMEComponent {

//         .SecuredBusinessLoan {
    
//             .homeSlider {
    
//                 ::ng-deep{
        
//                     .owl-dots {
//                         width: 540px;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (min-width: 992px) {

//     .forSMEComponent {

//         .SecuredBusinessLoan {
    
//             .homeSlider {
    
//                 ::ng-deep{
        
//                     .owl-dots {
//                         width: 960px;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (min-width: 1200px) {

//     .forSMEComponent {

//         .SecuredBusinessLoan {
    
//             .homeSlider {
    
//                 ::ng-deep{
        
//                     .owl-dots {
//                         width: 996px;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (min-width: 1400px) {

//     .forSMEComponent {

//         .SecuredBusinessLoan {
    
//             .homeSlider {
    
//                 ::ng-deep{
        
//                     .owl-dots {
//                         width: 996px;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width:767px) {

//     .SecuredBusinessLoan{

//         .homeSlider{
    
//             .silderSlide{
    
//                 .silderText{

//                     .title{
//                         margin-top: 60px;
//                         margin-bottom: 30px;

//                         &.shineTitle{
    
//                         .mainHeading{
//                             font-size: 26px !important;
//                             text-transform: uppercase;
//                             text-align: center;
//                         }
    
//                          p{
//                             font-size: 15px !important;
//                             line-height: 22px !important;
//                             text-align: center;
//                             margin-bottom: 8px !important;
//                          }
//                         }
//                     }

//                     &.mobileResponsive{
//                         transform: translate(0%, 0%) !important;
//                     }
    
//                     .getStartButtonBanner{
//                         justify-content: center !important;
//                         margin-right: 0px !important;
//                     }
//                 }
//             }
//         }
//     }
// }