<div class="forSMEComponent">
  <div class="SecuredBusinessLoan">
    <div class="container-fluid p-0">
      <div class="homeSlider">
        <div class="silderSlide">
          <img *ngIf="showDesktop" class="image mhidden"
            src="https://dzzu957mxv8q0.cloudfront.net/images/website/home/home_slide_01.webp" />
          <img *ngIf="!showDesktop" class="image dhidden"
            src="https://dzzu957mxv8q0.cloudfront.net/images/website/home/home_slide_mobile_01.webp" />
          <div class="silderText mobileResponsive">
            <div class="container">
              <div class="row align-items-center position-relative">
                <div class="col-md-6">
                  <div class="title shineTitle">
                    <h1 class="mainHeading">
                      {{Shinebanner.Header1.Text}}
                    </h1>
                    <div class="colorBox">
                      {{Shinebanner.Header2.Text}}
                    </div>
                    <p>
                      <img src="./assets/LandingPage/checkStar.svg" alt="">
                      {{Shinebanner.Subheader[0]}}

                    </p>
                    <p>
                      <img src="./assets/LandingPage/checkStar.svg" alt="">
                      {{Shinebanner.Subheader[1]}}
                    </p>

                    <div class="pricingBtn">
                      <button class="btn" (click)="goToPlans()">Check Pricing</button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="imgBanner">
                    <img class="w-100" src="../../../assets/LandingPage/product_Screens.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="twoSectionMarge section_padding_top" style="background-image: url(./assets/LandingPage/rightDesign.png);">

    <div class="betterLoanOpportunties">
      <div class="container">
        <div class="row align-items-center boxColor">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="Content">
              <h3>{{AnalyseSection?.Headline1}} <span> {{AnalyseSection?.Headline2}}</span></h3>
              <p>{{AnalyseSection?.Description}}</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 mb-3 boxBackground">
            <div class="boxContent">
              <div class="content">
                <h3>{{AnalyseSection?.Bureau_Feature?.Bureau_Title}}</h3>
                <p>{{AnalyseSection?.Bureau_Feature?.Bureau_Details}}</p>
              </div>
              <div class="boxIcon">
                <img src="./assets/LandingPage/homeIconW.svg" alt="">
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 mb-3 boxBackground">
            <div class="boxContent">
              <div class="content">
                <h3>{{AnalyseSection?.Banking_Feature?.Banking_Title}}</h3>
                <p>{{AnalyseSection?.Banking_Feature?.Banking_Details}}</p>
              </div>
              <div class="boxIcon">
                <img src="./assets/LandingPage/homeIconW.svg" alt="">
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 mb-3 boxBackground">
            <div class="boxContent">
              <div class="content">
                <h3>{{AnalyseSection?.GST_Feature?.GST_Title}}</h3>
                <p>{{AnalyseSection?.GST_Feature?.GST_Details}}</p>
              </div>
              <div class="boxIcon">
                <img src="./assets/LandingPage/searchIconB.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="transformFinance">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
            <div class="rightContent">
              <h3>{{WhatToExpectSection?.Headline}} <span> {{WhatToExpectSection?.Headline2}}</span></h3>
              <p>{{AnalyseSection?.Description}}</p>
            </div>
          </div>
          <div class="col-lg-8 col-md-12 col-sm-12 mb-3">
            <div class="laptopSilder">
              <img class="laptopView" src="./assets/LandingPage/laptop.png" alt="">
              <owl-carousel-o [options]="customOptionKeys">
                <ng-container>
                  <ng-template carouselSlide>
                    <div class="setSilder">
                      <div class="textSilder">
                        <img src="./assets/LandingPage/checkStar.svg" alt="">
                        <span>{{WhatToExpectSection?.Background?.imageText}}</span>
                      </div>
                      <div class="laptopAnderImg">
                        <img src="./assets/LandingPage/laptopAnder.png" alt="">
                      </div>
                    </div>
                  </ng-template>
                  <<<<<<< Updated upstream <ng-template carouselSlide>
                    <div class="setSilder">
                      <div class="textSilder">
                        <img src="./assets/LandingPage/checkStar.svg" alt="">
                        <span>{{WhatToExpectSection?.Background1?.imageText}}</span>
                      </div>
                      <div class="laptopAnderImg">
                        <img src="./assets/LandingPage/laptopAnder.png" alt="">
                      </div>
                    </div>
                    </ng-template>

                    <ng-template carouselSlide>
                      <div class="setSilder">
                        <div class="textSilder">
                          <img src="./assets/LandingPage/checkStar.svg" alt="">
                          <span>{{WhatToExpectSection?.Background2?.imageText}}</span>
                        </div>
                        <div class="laptopAnderImg">
                          <img src="./assets/LandingPage/laptopAnder.png" alt="">
                        </div>
                      </div>
                    </ng-template>

                    <ng-template carouselSlide>
                      <div class="setSilder">
                        <div class="textSilder">
                          <img src="./assets/LandingPage/checkStar.svg" alt="">
                          <span>{{WhatToExpectSection?.Background3?.imageText}}</span>
                        </div>
                        <div class="laptopAnderImg">
                          <img src="./assets/LandingPage/laptopAnder.png" alt="">
                        </div>
                      </div>
                    </ng-template>
                    =======
                    >>>>>>> Stashed changes
                </ng-container>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="thisPlanSection">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12 m-auto">
          <div class="content">
            <h3>Who Should Take This Plan</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil aliquam eum iusto ut laboriosam expedita
              odio accusantium, accusamus nisi, voluptates reprehenderit nobis veritatis doloribus dicta ducimus
              pariatur? Ipsum, inventore quam?</p>
          </div>
        </div>
        
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="planSilder">
            <owl-carousel-o [options]="customOptionPlan">
              <ng-container>
                <ng-template carouselSlide>
                    <div class="box">
                      <img class="userImg" src="./assets/LandingPage/BiginnerImg.svg" alt="">
                      <h3>A Biginner</h3>
                      <p>Never taken a loan</p>

                      <ul>
                        <li>
                          <img src="./assets/LandingPage/checkStar.svg" alt="">
                          Newly started business
                        </li>
                        <li>
                          <img src="./assets/LandingPage/checkStar.svg" alt="">
                          Newly started business
                        </li>
                        <li>
                          <img src="./assets/LandingPage/checkStar.svg" alt="">
                          Newly started business
                        </li>
                        <li>
                          <img src="./assets/LandingPage/checkStar.svg" alt="">
                          Newly started business
                        </li>
                      </ul>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="box">
                      <img class="userImg" src="./assets/LandingPage/IntermediateImg.svg" alt="">
                      <h3>An Intermediate</h3>
                      <p>Applied for a loan and not get</p>

                      <ul>
                        <li>
                          <img src="./assets/LandingPage/checkStar.svg" alt="">
                          Newly started business
                        </li>
                        <li>
                          <img src="./assets/LandingPage/checkStar.svg" alt="">
                          Newly started business
                        </li>
                        <li>
                          <img src="./assets/LandingPage/checkStar.svg" alt="">
                          Newly started business
                        </li>
                        <li>
                          <img src="./assets/LandingPage/checkStar.svg" alt="">
                          Newly started business
                        </li>
                      </ul>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="box">
                      <img class="userImg" src="./assets/LandingPage/ExpertImg.svg" alt="">
                      <h3>An Expert</h3>
                      <p>Got loan sanctioned multiple time</p>

                      <ul>
                        <li>
                          <img src="./assets/LandingPage/checkStar.svg" alt="">
                          Newly started business
                        </li>
                        <li>
                          <img src="./assets/LandingPage/checkStar.svg" alt="">
                          Newly started business
                        </li>
                        <li>
                          <img src="./assets/LandingPage/checkStar.svg" alt="">
                          Newly started business
                        </li>
                        <li>
                          <img src="./assets/LandingPage/checkStar.svg" alt="">
                          Newly started business
                        </li>
                      </ul>
                    </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="advantagesShine">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 m-auto">
          <div class="content">
            <h3> {{shine_comparison?.Title}}<span> </span></h3>
            <p>{{shine_comparison?.Subtitle}}</p>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="rowTable mhidden">
            <ul class="tableHeading">
              <li *ngFor="let title of shine_comparison?.headerText">{{title}}</li>
            </ul>
            <ul class="tableBox" *ngFor="let coloums of shine_comparison?.col">
              <li *ngFor="let texts of coloums?.item">{{texts}}</li>
            </ul>
          </div>

          <div class="mobileTable dhidden">
            <owl-carousel-o [options]="customOptionTable">
              <ng-container>
                <ng-template carouselSlide>
                  <div class="mobileRow">
                    <ul>
                      <li>
                        <div>
                          <span>TTILE TEXTS 1</span>
                          <p>Lorem Ipsum is simply dummy</p>
                        </div>
                      </li>
                      <li>
                        <div>
                          <span>TTILE TEXTS 2</span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                      </li>
                      <li>
                        <div>
                          <span>TTILE TEXTS 3</span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="mobileRow">
                    <ul>
                      <li>
                        <div>
                          <span>TTILE TEXTS 1</span>
                          <p>Lorem Ipsum is simply dummy</p>
                        </div>
                      </li>
                      <li>
                        <div>
                          <span>TTILE TEXTS 2</span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                      </li>
                      <li>
                        <div>
                          <span>TTILE TEXTS 3</span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="shineHelp" style="background-image: url(./assets//LandingPage/blueBackground.png);">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="content">
            <h3>{{HowShineWillHelpSection?.Header}}</h3>
            <p>{{HowShineWillHelpSection?.Subhead}}</p>
          </div>
        </div>

        <div class="col-lg-7 col-md-10 col-sm-12 m-auto">
          <div class="boxCenter">
            <div class="row justify-content-center;">
              <div class="col-lg-4 col-md-4 col-sm-12 col-4 pdMobile" *ngFor="let data of Parameter">
                <div class="box">
                  <img src={{data.icon}} alt="">
                  <p>{{data.parameter}}</p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="contentBtn">
              <p>{{HowShineWillHelpSection?.Body_Section[0]}} <br> {{HowShineWillHelpSection?.Body_Section[1]}}</p>
              <button class="btn" (click)="goToPlans()">Check Pricing</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="BusinessLoanOption">
    <div class="container">
      <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 m-auto">
        <div class="content">
          <button class="btn">
            Deep Dive
          </button>
          <h3>{{ShineFeaturesSection?.Header}}</h3>
          <p>{{ShineFeaturesSection?.Subheader}}</p>
        </div>
      </div>
      <div class="row row-cols-5">
        <div class="col" *ngFor="let data of ProductTiles">
          <div class="box" (click)="openPopup(data.productCopy)">
            <img src={{data.icon}} alt="">
            <p>{{data.productCopy}}</p>
          </div>
        </div>


        <div class="col-7 pe-0">
          <div class="boxImg">
            <img src="./assets/LandingPage/boxImg.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="guaranteedLoan">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="content">
            <h3>{{summarySection?.Header}}</h3>
            <p>{{summarySection?.Subheader}}</p>
          </div>
        </div>
        <div class="col-lg-11 col-md-12">
          <div class="yourRankingSilder">
            <owl-carousel-o [options]="customOptionKeys">
              <ng-container>
                <ng-template carouselSlide>
                  <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="improveBox">
                        <img src="./assets/LandingPage/rankingImg.png" alt="">
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 orderTop">
                      <div class="box">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been the industry's standard dummy text ever since the 1500s,</p>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-testimonial [testimonialData]="TestimonialsJson"></app-testimonial>

<app-faq [faqsData]="faqs"></app-faq>