<div class="heraderSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="headerNav">
                    <a href="" class="logo">
                        <img src="https://ce-static-media.s3.ap-south-1.amazonaws.com/images/website/Shine/dashboard/Shine_Logo.svg" alt="">
                    </a>
                    <h5>Hi {{name}}</h5>

                    <div class="logoutButton">
                        <button (click)="logout()">
                            <img src="https://ce-static-media.s3.ap-south-1.amazonaws.com/images/website/Shine/dashboard/logout.png" alt="">
                            Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>