.v2checksection {
    // height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    padding-top: 115px;
    padding-bottom: 80px;


    .blueBack {
        filter: blur(30px);
        -webkit-filter: blur(30px);
        background-color: #a1a0a0;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
    }


    .v2checkBox {
        position: relative;
        z-index: 2;
        background-color: var(--main1);
        padding: 36px 45px;
        border-radius: 10px;

        .back {
            position: absolute;
            width: 100%;
            left: 30px;

            a {
                display: flex;
                align-items: center;
                border-radius: 10px;
                background: #fff;
                max-width: 70px;
                height: 20px;
                font-size: 14px;
                font-family: "Poppins", sans-serif !important;
                font-weight: 400;
                color: var(--main1);

                mat-icon {
                    font-size: 22px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }


        .from {

            h3 {
                color: #E2E2E2;
                font-size: 14px;
                line-height: 22px;
                margin-bottom: 30px;
            }

            h1 {
                color: #ffffff;
                font-size: 25px;
                margin-bottom: 5px;
            }

            .sendotp {
                margin-top: 10px;


            }

            .editNumber {
                background-color: #fff;
                border-radius: 18px;
                padding: 6px 20px;
                max-width: 190px;
                height: 35px;
                margin: 0 auto;

                p {
                    margin-bottom: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span {
                        font-size: 16px;
                        font-family: 'Poppins', sans-serif !important;
                        font-weight: 600;
                        color: #3F3F3F;
                    }

                    img {
                        height: 16px;
                        width: 16px;
                    }
                }
            }
            

            .checkBox {
                margin-top: 29px;

                mat-checkbox {
                    a {
                        color: #FFFFFF;
                    }

                    &.colorRedBoder {

                        ::ng-deep {

                            .mat-checkbox-layout {

                                .mat-checkbox-inner-container {
                                    .mat-checkbox-frame {
                                        border-color: #AC1E1E !important;
                                    }
                                }
                            }
                        }
                    }

                    ::ng-deep {

                        .mat-checkbox-layout {
                            white-space: inherit !important;
                            margin-bottom: 8px;
                            font-family: 'Poppins', sans-serif !important;
                            color: #fff;
                            font-size: 12px;
                            line-height: 17px;

                            img {
                                margin: 0px 2px;
                                width: 15px;
                                height: 15px;
                            }

                            .mat-checkbox-inner-container {
                                margin-top: 4px;
                                margin-right: 15px;

                                .mat-checkbox-frame {
                                    border-color: #fff;
                                }
                            }
                        }
                    }
                }

                ::ng-deep {

                    .mat-checkbox-checked {

                        .mat-checkbox-inner-container {

                            .mat-checkbox-background {
                                background-color: #fff;

                                .mat-checkbox-checkmark-path {
                                    stroke: #12ba9b !important;
                                }
                            }
                        }
                    }

                   

                }
            }

            .ButtonNow {
                align-items: center;
                display: flex;
                justify-content: space-between;
                gap: 10px;

                a {
                    color: #12ba9b !important;
                    background-color: #FFFFFF;
                }

                p {
                    color: #fff;
                    font-size: 12px;
                    line-height: 14px;
                    font-family: 'Poppins', sans-serif !important;
                    margin-bottom: 0px;
                    padding-right: 50px;
                }
            }
        }
    }

    
}

.isvaliderror {

    mat-form-field {

        ::ng-deep {

            .mat-mdc-text-field-wrapper {
                
                    background-color: #FFCECE !important;
                    border: 1px solid #FFCECE !important;

                    input {
                        color: #3f3f3f !important;
                    }

                    mat-label {
                        color: #AC1E1E !important;
                    }
            }
        }
    }
}

.swal2-title-custom {
    font-size: 18px; 
    color: #333;     
  }

.mat-mdc-option.mdc-list-item {
    height: 34px;
    padding: 21px 12px;
    border-bottom: 1px solid #E8E8E8;
    background-color: #fff;
}

.mat-mdc-option:hover{
    background-color: var(--main1);

    ::ng-deep{
    span{
        color: #fff;
    }
}
}
.error {
    margin-top: -12px;
}


.selectForm {

    .formSelect {

        .example-container {

           

            mat-select {
                width: 100%;
                color: #3F3F3F;
                font-size: 16px;
                font-weight: 500;
                border: none;
                margin-top: 0px;
                font-family: 'Poppins' !important;

                ::ng-deep {
                    .mat-select-trigger {

                        .mat-select-value {

                            .mat-select-value-text {
                                display: block;
                                max-width: 170px;
                            }
                        }
                    }
                }

                &:focus {
                    outline: none;
                    border: none;
                    box-shadow: none;
                }

                ::ng-deep {

                    .mat-select-placeholder {
                        color: #818181;
                        font-size: 16px !important;
                        font-weight: 400;
                    }

                    .mat-select-arrow-wrapper {
                        transform: translateY(0%);
                        display: none;
                    }
                }
            }

            mat-form-field {
                width: 100%;

                ::ng-deep {

                    .mat-mdc-text-field-wrapper {
                        padding-bottom: 0px;
                        padding-top: 0px;
                        background: #fff;
                        height: 54px;
                        display: flex;
                        align-items: center;
                        border-radius: 6px;
                        font-family: 'Poppins' !important;
                        position: relative;

                        .mat-mdc-form-field-infix{
                            .mat-mdc-floating-label{
                                font-family: 'Poppins' !important;
                            }
                        }
                        

                        input {
                            color: #3F3F3F;
                            font-size: 16px;
                            font-weight: 500;
                        }

                        ::placeholder {
                            color: #3F3F3F;
                        }
                    }

                    .mat-form-field-underline {
                        width: auto;
                    }

                    .mat-form-field-infix {
                        padding: 10px 0px;
                        top: -6px;
                        height: 50px;
                        display: flex;
                        align-items: center;

                        .mat-form-field-label-wrapper {

                            .mat-form-field-label {
                                top: 32px;
                                color: #818181;
                                font-size: 16px !important;
                                font-weight: 400;
                                

                                .mat-placeholder-required {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        mat-checkbox {

            ::ng-deep {

                .mat-checkbox-layout {

                    .mat-checkbox-label {
                        white-space: initial;
                        color: #fff;
                        font-size: 13px;
                        line-height: 20px;
                    }

                    .mat-checkbox-inner-container {
                        margin-top: 4px;

                        .mat-checkbox-frame {
                            border-color: #fff;
                        }
                    }
                }
            }
        }

        ::ng-deep {
            .mat-accent {

                &.mat-checkbox-checked {

                    .mat-checkbox-background {
                        background-color: var(--main2);
                    }
                }
            }
        }
    }



  

    .ButtonNow {
        margin-top: 7px;
    }
}






.formMinsize {

    .formSelect {

        .example-container {
            .isvaliderror {

                mat-form-field {
            
                    ::ng-deep {
            
                        .mat-mdc-text-field-wrapper {

                            
            
                            .mat-form-field-flex {
                                background-color: #FFCECE !important;
                                border: 1px solid #FFCECE !important;
            
                                input {
                                    color: #3f3f3f !important;
                                }
            
                                mat-label {
                                    color: #AC1E1E !important;
                                }
                            }
            
                            // .mat-form-field-infix {
            
                            //     .mat-form-field-label-wrapper{
            
                            //         .mat-form-field-label{
                            //             top: 20px !important;
                            //             font-size: 10px !important;
                            //         }
                            //     }
                            // }
                        }
                    }
                }
            }

            mat-select {

                ::ng-deep {
                    .mat-select-trigger {

                        .mat-select-value {

                            .mat-select-value-text {
                                max-width: 100% !important;
                            }
                        }
                    }
                }
            }
        }
    }
}





::ng-deep {

   

    .mat-select-panel-wrap {

        .mat-select-panel {
            max-height: initial;
            position: absolute;
            left: 4px !important;
            top: 54px !important;
            width: 100%;
            min-width: 100% !important;
            max-width: 100% !important;
            min-width: calc(100% + 47px) !important;
            transform: scaleY(1) !important;
            transform-origin: 50% 24px 0px !important;

            mat-option {
                height: 34px;
                padding: 21px 12px;
                border-bottom: 1px solid #E8E8E8;
                background-color: #fff;

                &:hover {
                    background-color: var(--main1) !important;
                    color: #fff !important;
                }
            }

            .mat-option.mat-selected:not(.mat-option-multiple) {
                background-color: var(--main1) !important;
                color: #fff !important;
            }

            .mat-option.mat-selected:not(.mat-option-disabled) {
                background-color: var(--main1) !important;
                color: #fff !important;
            }
        }
    }
}

@media (max-width: 767px) {
    .v2checksection {

        .v2checkBox {
            padding: 20px 25px;

            .from {


                .ButtonNow {

                    a {
                        color: #12ba9b !important;
                        background-color: #FFFFFF;
                        max-width: 140px;
                        min-width: 140px;
                    }

                    button {
                        max-width: 140px;
                        min-width: 140px;
                    }
                }
            }
        }
    }
}