<div class="v2checksection">
  <div class="blueBack"></div>
  <div class="container mobilePd">
    <div class="row">
      <div class="col-xl-5 col-lg-6 col-md-12 m-auto">
        <div class="v2checkBox">
          <div class="from">
            <h1 class=" text-center">Upload Your Bank Statements</h1>
            <p>Last 12 months' bank statements required</p>

            <div class="uploadBtn">
              <button class="btn">
                <img src="../../../assets/LandingPage/netBankingIcon.svg" alt="">
                  By Net Banking
              </button>
              <button class="btn">
                <img src="../../../assets/LandingPage/laptopIcon.svg" alt="">
                  Upload
              </button>
              <p>Click on options to upload</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>