<div class="headerBackgound"></div>

<div class="v2checksection" *ngIf="!showEligible">
  <div class="blueBack"></div>


  <div class="container mobilePd">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 m-auto">
        <p class="topContent">Please upload the required statements, so we can start our customized assessment of your profile!</p>
        <div class="v2checkBox">
          <div class="from">
            <h1 class=" text-center">Upload Your Bank Statements</h1>
            <p>Last 12 months' bank statements required</p>

            <div class="uploadBtn">
              <button class="btn" (click)="netBankinglink()">
                <img src="../../../assets/LandingPage/netBankingIcon.svg" alt="">
                  By Net Banking
              </button>
              <button class="btn" (click)="uploadDocumentLink()">
                <img src="../../../assets/LandingPage/laptopIcon.svg" alt="">
                  Upload
              </button>
              <p>Click on options to upload</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="v2checksection progressBaar" *ngIf="showEligible">
      <div class="blueBack"></div>
      <div class="container mobilePd">
          <div class="row">
              <div class="col-xl-8 col-lg-8 col-md-12 m-auto">
                      <div class="v2checkBox">
                          <div class="from">
                              <!-- <h3>
                Almost There! <br />
                We’re Calculating Your Best Fits!
              </h3>
   -->



                          </div>
                      </div>

              </div>
          </div>
      </div>
</div>


<!-- <div class="modalOpen" >
  <div class="blueBack"></div>
  <div class="modalBox">
      <div class="Box">
          <h3>Please wait</h3>
          <p>We're collecting your data...</p>
          <div class="my-progress-bar">
              <mat-progress-bar value="40"> </mat-progress-bar>
          </div>
      </div>
  </div>
</div> -->

<!-- <div class="modalOpen" >
  <div class="blueBack"></div>
  <div class="modalBox">
      <div class="Box">
        <img src="./assets/LandingPage/checkGreen.svg" alt="">
          <h3>Payment <br> Successfully Done!</h3>
      </div>
  </div>
</div> -->

