<div class="pagenotfound">
    <div class="container mobilePd">
        <div class="backgroundImages">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10 m-auto">
                    <div class="pageFound">
                        <!-- <i class="fas fa-house-damage"></i> -->
                        <h2>Oops!</h2>
                        <p>This isn't the road to affordable loans. Let's guide you back to <br> <b>'Dream Big, Borrow Smart'</b>.</p>
                        <div class="ButtonNow">
                            <a (click)="homepage()">Go to Home Page <mat-icon>keyboard_arrow_right</mat-icon></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>