<div class="backgroundColor"></div>

<div class="modalbureauNumber">
    <div class="closeIcon">
        <button class="btn" (click)="closeDialoge()"><img src="./assets/LandingPage/closeIcon.png" alt=""></button>
    </div>
  <div class="content">
    <h3>Bureau Score</h3>

    <ul>
        <li>
            <img src="./assets/LandingPage/checkStar.svg" alt="">
            The bureau score is a number calculated by the credit bureaus. It shows if you're creditworthy.
        </li>
        <li>
            <img src="./assets/LandingPage/checkStar.svg" alt="">
            The bureau score is a number calculated by the credit bureaus. It shows if you're creditworthy.
        </li>
        <li>
            <img src="./assets/LandingPage/checkStar.svg" alt="">
            The bureau score is a number calculated by the credit bureaus. It shows if you're creditworthy.
        </li>
        <li>
            <img src="./assets/LandingPage/checkStar.svg" alt="">
            The bureau score is a number calculated by the credit bureaus. It shows if you're creditworthy.
        </li>
    </ul>

    <div class="modalIcon">
        <img src="https://dzzu957mxv8q0.cloudfront.net/images/website/home/secure_loan.svg" alt="">
    </div>
  </div>
</div>