<div class="backgroundColor"></div>

<div class="modalbureauNumber">
    <div class="closeIcon">
        <button class="btn" (click)="closeDialoge()"><img src="./assets/LandingPage/closeIcon.png" alt=""></button>
    </div>
  <div class="content">
    <h3>{{popupData}}</h3>

    <ul >
        <li *ngFor="let data of filteredValues?.Pop_up_copy">
            <img src="./assets/LandingPage/checkStar.svg" alt="">
            {{data}}
        </li>
        
    </ul>

    <div class="modalIcon">
        <img src={{filteredValues?.Icon}} alt="">
    </div>
  </div>
</div>