<div class="backgroundColor"></div>

<div class="modalbureauNumber">
    <div class="closeIcon">
        <button class="btn" (click)="closeDialoge()"><img src="./assets/LandingPage/closeIcon.png" alt=""></button>
    </div>
  <div class="content">
    <h3>{{popupData}}</h3>

    <ul >
        <li>
            <img src="./assets/LandingPage/checkStar.svg" alt="">
            {{filteredValues?.Pop_up_copy[0]}}
        </li>
        <li>
            <img src="./assets/LandingPage/checkStar.svg" alt="">
            {{filteredValues?.Pop_up_copy[1]}}        </li>
        <li>
            <img src="./assets/LandingPage/checkStar.svg" alt="">
            {{filteredValues?.Pop_up_copy[2]}}        </li>
        <li>
            <img src="./assets/LandingPage/checkStar.svg" alt="">
            {{filteredValues?.Pop_up_copy[3]}}        </li>
    </ul>

    <div class="modalIcon">
        <img src="https://dzzu957mxv8q0.cloudfront.net/images/website/home/secure_loan.svg" alt="">
    </div>
  </div>
</div>