<div class="backgroundHeader"></div>

<div class="completeEnrollment">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content">
                    <h3>Get on the Path to Shine</h3>
                    <p>Shine offers a low-cost entry for a high-return journey to your ideal loans</p>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="KeyPlanBox">
                    <div class="themeBox">
                        <h3>One-Time Report</h3>
                        <del>₹1999</del>
                        <span>₹{{filteredData?.Price}}</span>
                        <p>for 1 report</p>
                        <button class="btn"  (click)="goToRegister('Annual')">Get Now</button>
                        <small>Exclusive features for unparalleled performance and top-tier benefits.</small>
                    </div>
                    <div class="rightBox">
                        <h3>Key Features</h3>
                        <ul>
                            <li *ngFor = "let data of filteredData?.item" >
                                <img src="./assets/LandingPage/checkStar.svg" alt="">
                                {{data}}
                              </li>
                          
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="whatisShine">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 m-auto">
                <div class="shineContent text-center">
                    <h3>{{WhatisShineSection?.Header}}</h3>
                    <p>{{WhatisShineSection?.Subhead}}</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 ">
                <div class="shineList">
                    <ul>
                        <li>{{WhatisShineSection?.Body_Section[0]}}</li>
                        <li>{{WhatisShineSection?.Body_Section[1]}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 ">
                <div class="shineList">
                    <ul>
                        <li>{{WhatisShineSection?.Body_Section[2]}}</li>
                        <li>{{WhatisShineSection?.Body_Section[3]}}</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 m-auto">
                <div class="button">
                    <button class="btn">
                        <img src="./assets/LandingPage/searchIcon.svg" alt="">
                        View Sample Report
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="shineHelpSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 m-auto">
                <div class="Content text-center">
                    <h3>{{HowDoesShinehelpSection?.Header}}</h3>
                </div>
            </div>
            
            <div class="col-lg-12 col-md-12 col-sm-12 m-auto">
                <div class="boxMarge">
                    <div class="helpBox" *ngFor="let data of featureSection; let i=index">
                        <span>0{{ i + 1 }}</span>
                        <div class="box">
                            <img src={{data?.icon}} alt="">
                            <p>{{data?.productCopy}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

