<div class="Lenders_Section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 m-auto paddingZero">
          <div class="LendingHeading">

            <div class="contentHeading">
                    <div class="silderHeading">
                      <h2>Partnerships</h2>
                    </div>
            </div>
          <owl-carousel-o [options]="customOptions2">
              <ng-container>
                <ng-template carouselSlide>
                  <div class="logoBrand">
                    <img class="logoImg" src="https://ce-static-media.s3.ap-south-1.amazonaws.com/images/website/Shine/lenders/IndusIndBankJPEGlogo%201.webp" />
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="logoBrand">
                    <img class="logoImg" src="https://ce-static-media.s3.ap-south-1.amazonaws.com/images/website/Awards/WEP.png" />
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </div>