.backgroundHeader{
    width: 100%;
    background-color: var(--main1);
    height: 100px;

}

.completeEnrollment{
    padding: 60px 0px 0px;

    .content{
        margin-bottom: 30px;
        text-align: center;

        h3{
            font-size: 30px;
            color: #3f3f3f;
            font-weight: 600;
            margin-bottom: 4px;
            line-height: 36px;
            font-family: 'Be Vietnam Pro' !important;
        }

        p{
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            font-family: Poppins !important;
            color: #3f3f3f;
            margin-bottom: 2px;
        }
    }

    .KeyPlanBox{
        box-shadow: 10px 10px 30px #0000001A;
        border: 1px solid #E8E8E8;
        border-radius: 20px;
        background-color: #fff;
        display: flex;
        align-items: center;

        .themeBox{
            box-shadow: 10px 10px 30px #0000001A;
            border: 1px solid #E8E8E8;
            border-radius: 20px 0px 0px 20px;
            padding: 90px;
            height: 100%;
            text-align: center;
            background-color: var(--main1);
            width: 40%;

            h3{
                color: #fff;
                font-size: 22px;
                font-weight: 600;
                line-height: 22px;
                padding-bottom: 12px;
                border-bottom: 1px solid #E2E2E2;
                font-family: Poppins !important;
            }

            del{
                color: #FFFFFF;
                opacity: 0.6;
                font-size: 32px;
                font-weight: 400;
                margin-bottom: 4px;
                display: block;
                font-family: Poppins !important;
            }

            span{
                color: #FFFFFF;
                font-size: 64px;
                font-weight: 600;
                margin-bottom: 2px;
                display: block;
                line-height: 62px;
                font-family: Poppins !important;
            }

            p{
                color: #E2E2E2;
                font-size: 13px;
                font-weight: 500;
                margin-bottom: 28px;
                font-family: Poppins !important;
            }
            
            .btn{
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1019607843);
                border-radius: 50px;
                padding: 9px 40px;
                background-color: var(--main2);
                font-size: 16px;
                font-weight: 500;
                color: #fff;
                line-height: 22px;
                font-family: Poppins !important;
                min-width: 190px;
                max-width: 190px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto 25px;
            }

            small{
                color: #E2E2E2;
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 0px;
                font-family: Poppins !important;
            }
        }

        .rightBox{
            height: 100%;
            padding: 34px 48px;

            h3{
                color: #3f3f3f;
                font-size: 22px;
                font-weight: 600;
                line-height: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #E2E2E2;
                font-family: Poppins !important;
            }

            ul{
                margin-bottom: 0px;
                padding-left: 0px;
                list-style: none;

                li{
                    font-size: 14px;
                    color: #3F3F3F;
                    font-weight: 400;
                    font-family: Poppins !important;
                    line-height: 22px;
                    margin-bottom: 5px;
                    position: relative;
                    padding-left: 30px;

                    img{
                        width: 20px;
                        height: 20px;
                        left: 0px;
                        top: 2px;
                        position: absolute;
                    }
                }
            }
        }
    }
}

.whatisShine{
    padding: 60px 0px;

    .shineContent{
        margin-bottom: 30px;

        h3{
            font-size: 22px;
            color: #3f3f3f;
            font-weight: 600;
            margin-bottom: 4px;
            line-height: 36px;
            font-family: 'Be Vietnam Pro' !important;
        }

        p{
            font-size: 14px;
            font-weight: 500;
            font-family: Poppins !important;
            color: #3f3f3f;
            margin-bottom: 2px;
        }
    }

    .shineList{

        ul{
            padding-left: 0px;
            margin-bottom: 0px;
            list-style: none;

            li{
                font-size: 14px;
                font-weight: 500;
                font-family: Poppins !important;
                color: #3f3f3f;
                padding: 0px 22px;
                margin: 5px 0px 15px;
                position: relative;
                line-height: 22px;

                &::before{
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background-color: var(--main1);
                    border-radius: 50px;
                    top: 6px;
                    left: 0px;
                }
            }
        }
    }

    .button{

        .btn{
            background: var(--main1);
            border-radius: 50px;
            padding: 4px 20px;
            display: flex;
            align-items: center;
            gap: 6px;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            margin: 15px auto 0px;
        }
    }
}

.shineHelpSection{
    padding: 0px 0px 160px;

    .Content{
        margin-bottom: 30px;
        padding-top: 60px;
        border-top: 1px solid #efefef;

        h3{
            font-size: 22px;
            color: #3f3f3f;
            font-weight: 600;
            margin-bottom: 4px;
            line-height: 36px;
            font-family: 'Be Vietnam Pro' !important;
        }
    }

    .boxMarge{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        .helpBox{
            border: 1px solid #E1E1E1;
            border-radius: 20px;
            background-color: #fff;
            padding: 24px 22px;
            text-align: center;
            margin-bottom: 15px;
            height: 175px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            transition: 0.5s;
            position: relative;
            box-shadow: 6px 6px 10px #00000012;
            width: 100%;

            &:nth-child(even){
                transform: translate(0px, 50px);
            }

            span{
                color: #ebebeb;
                font-size: 20px;
                line-height: 18px;
                font-weight: 500;
                font-family: Poppins !important;
                position: absolute;
                top: 10px;
                left: 10px;
            }

            img{
                width: auto;
                height: 60px;
                margin: 0px auto 18px;
            }

            p{
                color: #3F3F3F;
                font-size: 14px;
                line-height: 18px;
                font-weight: 600;
                font-family: Poppins !important;
                margin-bottom: 2px;
                width: 100%;
            }
        }
    }
}

.modalOpen {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 111;
    

    .blueBack{     
        background-color: #fff;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        opacity: 0.95;
    }

    .modalBox {
        box-shadow: 0px 3px 6px #00000017;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
        background-color: #fff;
        width: 280px;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;

        .Box {
            padding: 24px;

            img{
                display: flex;
                margin: 0 auto 15px;
                width: 32px;
                height: 32px;
            }

            h3 {
                font-size: 18px;
                font-weight: 600;
                line-height: 22px;
                margin-bottom: 0px;
                color: #333;
                font-family: 'Poppins' !important;
                text-align: center;
                margin-top: 6px;
            }

            p {
                margin-top: 8px;
                font-size: 14px;
                color: #3F3F3F;
                line-height: 18px;
                margin-bottom: 18px;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }

            .my-progress-bar{

                mat-progress-bar{
                    height: 6px;
                    border-radius: 30px;

                    ::ng-deep{

                        .mdc-linear-progress__buffer-bar {
                            background-color: #EFEFEF;
                        }

                        .mdc-linear-progress__bar-inner{

                                border-color: var(--main1);
                                border-width: 7px;
                        }
                    }
                }

                b{
                    color: var(--main2);
                    font-size: 14px;
                    line-height: 22px;
                    font-family: 'Poppins' !important;
                    margin-top: 4px;
                }
            }
        }
    }
}



@media (max-width: 767px) {
    .completeEnrollment{
        padding: 40px 0px 0px;
    
        .content{
            margin-bottom: 18px;
    
            h3{
                font-size: 22px;
            }
        }
    
        .KeyPlanBox{
            display: block;
    
            .themeBox{
                padding: 30px 12px;
                width: 100%;
                border-radius: 20px 20px 0px 0px;
    
                del{
                    font-size: 28px;
                }
    
                span{
                    font-size: 52px;
                }
            }
    
            .rightBox{
                padding: 30px 12px;
    
                h3{
                    font-size: 18px;
                }
            }
        }
    }
    
    .whatisShine{
        padding: 50px 0px;
    
        .shineContent{
            margin-bottom: 14px;
        }
    }
    
    .shineHelpSection{
        padding: 0px 0px 70px;
    
        .Content{
            margin-bottom: 22px;
            padding-top: 0px;
            border-top: none;
        }
    
        .boxMarge{
            flex-wrap: wrap;
    
            .helpBox{
                width: 48%;
            }
        }
    }
}