// .order-summary {
//     .card {
//       margin-top: 2rem;
//     }
  
//     .card-header {
//       background-color: #f8f9fa;
//       border-bottom: none;
//     }
  
//     .card-body {
//       padding: 1.5rem;
//     }
  
//     .product {
//       margin-bottom: 1rem;
  
//       .row {
//         align-items: center;
//       }
//     }
  
//     .total {
//       font-size: 1.2rem;
//       font-weight: bold;
//       margin-top: 1rem;
  
//       .row {
//         justify-content: space-between;
//       }
//     }
  
//     .total-label {
//       text-transform: uppercase;
//     }
  
//     .total-amount {
//       font-size: 1.4rem;
//       color: #f00;
//     }
  
//     .proceed-button {
//       margin-top: 1rem;
//       width: 100%;
//     }
//   }
//   .features h3 {
//     margin-top: 10px;
//     color: #6a2fc2;
//     padding-left: 2px;
//     font-weight: bold;
// }
// .proceed-button {
//     background-color: black;
//     width: 100%;
//     border-color: black;
// }

.headerBackground{
  background-color: var(--main1);
  width: 100%;
  height: 100px;
}

.annualPlanSection{
  padding: 50px 0px;

  .heading{
    margin-bottom: 30px;

    h3{
      font-size: 30px;
      color: #3f3f3f;
      font-weight: 600;
      margin-bottom: 4px;
      line-height: 36px;
      font-family: "Be Vietnam Pro" !important;

      span{
        color: var(--main2);
      }
    }

    p{
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      font-family: Poppins !important;
      color: #3f3f3f;
      margin-bottom: 2px;
    }
  }

  .confirmOrder{
    
    h3{
      font-size: 22px;
      color: #3f3f3f;
      font-weight: 600;
      margin-bottom: 2px;
      line-height: 36px;
      font-family: "Be Vietnam Pro" !important;
    }

    p{
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      font-family: Poppins !important;
      color: #3f3f3f;
      margin-bottom: 24px;
    }

    ul{
      padding-left: 0px;
      margin-bottom: 25px;
      list-style: none;
      border-top: 1px solid #E2E2E2;
      border-bottom: 1px solid #E2E2E2;
      padding-top: 30px;

      li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 0px;

        &:last-child{
          padding: 15px 0px;
          border-top: 1px solid #E2E2E2;
          margin-top: 20px;

          span{

            b{
              font-weight: 600;
            }
          }
        }

        span{
          font-size: 14px;
          font-weight: normal;
          line-height: 22px;
          font-family: Poppins !important;
          color: #3f3f3f;

          b{
            font-size: 22px;
            font-weight: 500;
          }
        }
      }
    }

    .paymentBtn{
      display: flex;
      justify-content: center;

      .btn{
        text-decoration: none;
        background-color: var(--main2);
        padding: 9px 45px;
        box-shadow: 10px 10px 20px #0000001A;
        border-radius: 50px;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        font-family: Poppins !important;
      }
    }
  }

  .paymentPlan{
    box-shadow: 10px 10px 30px #0000001A;
    border: 1px solid #E8E8E8;
    border-radius: 20px;
    overflow: hidden;

    .box{
      border: 1px solid #E8E8E8;
      border-radius: 20px 0px 0px 20px;
      padding: 25px 42px;
      background-color: var(--main1);
      text-align: center;

      h3{
        color: #fff;
        font-size: 22px;
        font-weight: 600;
        line-height: 22px;
        padding-bottom: 12px;
        border-bottom: 1px solid #E2E2E2;
        font-family: Poppins !important;
      }

      del{
        color: #FFFFFF;
        opacity: 0.6;
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 4px;
        display: block;
        font-family: Poppins !important;
      }

      span{
        color: #FFFFFF;
        font-size: 44px;
        font-weight: 500;
        margin-bottom: 2px;
        display: block;
        line-height: 40px;
        font-family: Poppins !important;
      }

      p{
        color: #E2E2E2;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 0px;
        font-family: Poppins !important;
      }
    }

    .priceList{
      padding: 22px 30px;

      h3{
        color: #3f3f3f;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 12px;
        font-family: Poppins !important;
      }

      ul{
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0px;

        li{
          position: relative;
          color: #3f3f3f;
          font-size: 14px;
          line-height: 28px;
          font-weight: normal;
          margin-bottom: 2px;
          font-family: Poppins !important;
          padding-left: 30px;

          img{
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0px;
            top: 4px;
          }
        }

        .btn{
          text-decoration: none;
          color: var(--main1);
          font-size: 14px;
          font-weight: 600;
          line-height: 18px;
          margin-top: 15px;
          padding: 0px;
          font-family: Poppins !important;
        }
      }
    }
  }

}


@media (max-width: 767px) {
  .annualPlanSection{
    padding: 50px 0px;
  
    .heading{
      margin-bottom: 18px;
  
      h3{
        font-size: 22px;
        margin-bottom: 2px;
        line-height: 26px;
      }
    }
  
    .confirmOrder{
      margin-bottom: 20px;
      
      h3{
        font-size: 18px;
      }
  
      ul{
        margin-bottom: 15px;
        padding-top: 20px;
  
        li{
          padding: 4px 0px;
  
          &:last-child{
            padding: 10px 0px;
            margin-top: 15px;
          }
  
          span{
  
            b{
              font-size: 20px;
            }
          }
        }
      }
    }
  
    .paymentPlan{
      box-shadow: 10px 10px 30px #0000001A;
      border: 1px solid #E8E8E8;
      border-radius: 20px;
      overflow: hidden;
  
      .box{
        padding: 15px 22px;
  
        h3{
          font-size: 18px;
          padding-bottom: 10px;
        }
  
        del{
          font-size: 24px;
        }
  
        span{
          font-size: 34px;
        }
      }
  
      .priceList{
        padding: 15px 20px;
      }
    }
  
  }

}