<div class="headerBackground"></div>

<div class="paymentUnsuccessful">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-10 col-sm-12 m-auto">
        <div class="title">
          <h3>
            <mat-icon>warning</mat-icon>
            Payment Unsuccessful
          </h3>
          <p>No funds were taken from your account. In case of a deduction, you will receive a refund within 5-7
            business days. Please input accurate information or try another payment method.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="annualPlanSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="heading text-center ">
          <h3>You have selected our <span>{{filteredData?.Headertext}} Plan</span>!</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>
      <div class="col-lg-6 co-md-12 col-sm-12">
        <div class="confirmOrder">
          <h3>Please Confirm Order</h3>
          <p>Thank you for your purchase! Please review your order details below before proceeding to payment.</p>

          <ul>
            <li>
              <span>Shine {{filteredData?.Headertext}} Plan</span>
              <span><b>₹{{filteredData?.Price}}</b></span>
            </li>
            <li>
              <span>
                <div class="from-control">
                  <input type="text" placeholder="Enter Coupon Code">
                  <button class="btn">Apply</button>
                </div>
              </span>
            </li>
            <!-- <li>
              <span>Discount Offer (<span>Sample Copoun Applied</span>)</span>
              <span><b class="color">₹{{discountPrice}}</b></span>
            </li> -->
            <li>
              <span>GST</span>
              <span><b>₹20</b></span>
            </li>
            <li>
              <span>CGST</span>
              <span><b>₹20</b></span>
            </li>
            <li>
              <span>Total Payable Amount</span>
              <span><b>₹{{total}}</b></span>
            </li>
          </ul>

          <div class="paymentBtn">
            <button class="btn" (click)="getForPaymentMethod()">Proceed to Payment</button>
            <!-- <button class="btn" (click)="getForPaymentMethod()">Retry Payment</button> -->
          </div>
        </div>
      </div>

      <div class="col-lg-6 co-md-12 col-sm-12">
        <div class="col-lg-8 col-md-10 col-sm-12 m-auto">
          <h5 class="productText">Your Details</h5>
          <ul class="nameList">
            <li>
              <span>Full Name</span>
              :
              <span>{{fullName}}</span>
            </li>
            <li>
              <span>Mobile Number</span>
              :
              <span>91+ {{mobile}}</span>
            </li>
            <li>
              <span>Company Name</span>
              :
              <span> {{companyName}}</span>
            </li>
          </ul>
          <h5 class="productText">Product Summary</h5>
          <div class="paymentPlan">
            <div class="box">
              <h3>{{filteredData?.Headertext}} Plan</h3>
              <del>{{cuttedPrice}}</del>
              <span>₹{{filteredData?.Price}}</span>
              <p>4 reports per year</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<form id="paymentForm" *ngIf="showForm" method="post" action="https://pa-preprod.1pay.in/payment/payprocessorV2">
  <input type="hidden" name="merchantId" [value]="reqData?.merchantId">
  <input type="hidden" name="reqData" [value]="reqData?.reqData">
  <!-- <button type="submit">Pay Now</button> -->
</form>