<div class="v2checksection selectForm formMinsize">
  <div class="blueBack"></div>
  <div class="container mobilePd">
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-12 m-auto">
        <p class="text-center text-white position-relative z-index">
          Update your details so we can start our customized assessment of your
          profile!
        </p>

        <div class="v2checkBox">
          <div class="from">
            <h1 class="text-center">Fill Your Details</h1>
            <h3 class="text-center" style="font-weight: lighter;">
              Enter your information to get started.
            </h3>

            <div class="formSelect" #formSection>
              <div class="example-container">
                <form [formGroup]="businessForm">
                  <div class="row">
                 

  
                    <div
                      class="col-xl-12 col-lg-12 col-md-12 col-sm-12"
                      [ngClass]=" businessForm.controls['busninessName'].touched &&
                                        businessForm.controls['busninessName'].hasError('required') ||  (businessForm.controls['busninessName'].dirty || businessForm.controls['busninessName'].touched) &&
                                        businessForm.controls['busninessName'].hasError('pattern') || showBusniessNameError ? 'isvaliderror' :  ''"
                    >
                      <mat-form-field appearance="fill">
                        <mat-label>Business Name</mat-label>
                        <input
                          matInput
                          minlength="4"
                          formControlName="busninessName"
                          placeholder=""
                        />
                      </mat-form-field>
                      <div
                        class="error mb-2"
                        *ngIf="
                                            businessForm.controls['busninessName'].touched &&
                                            businessForm.controls['busninessName'].hasError('required')
                                          "
                      >
                        Please complete this mandatory field.
                      </div>

                      <div
                      class="error mb-2"
                      *ngIf="
                                          businessForm.controls['busninessName'].dirty &&
                                          businessForm.controls['busninessName'].hasError('minlength');
                                        "
                    >
                    The BusinessName field must be between 4 and 100 characters long.
                    </div>
                    </div>

                    <div
                      class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                      [ngClass]=" businessForm.controls['businessTurnover'].touched &&
                          businessForm.controls['businessTurnover'].hasError('required') ||  (businessForm.controls['businessTurnover'].dirty || businessForm.controls['businessTurnover'].touched) &&
                          businessForm.controls['businessTurnover'].hasError('pattern') ? 'isvaliderror' :  ''"
                    >
                      <mat-form-field appearance="fill">
                        <mat-label>Business Turnover(₹)</mat-label>
                        <input
                          matInput
                          [(ngModel)]="formattedX"
                          (input)="onInputChange($event)"
                          (keypress)="eventService.numberOnly($event, 'mobile')"
                          formControlName="businessTurnover"
                          placeholder=""
                        />
                      </mat-form-field>
                    </div>
                    <div
                      class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                      [ngClass]=" businessForm.controls['businessPan'].touched &&
                                                        businessForm.controls['businessPan'].hasError('required') ||  (businessForm.controls['businessPan'].dirty || businessForm.controls['businessPan'].touched) &&
                                                        businessForm.controls['businessPan'].hasError('pattern') || showValidatePANError ? 'isvaliderror' :  ''"
                    >
                      <mat-form-field appearance="fill">
                        <mat-label>Business PAN </mat-label>
                        <input
                          matInput
                          formControlName="businessPan"
                          placeholder=""
                        />
                      </mat-form-field>
                      <div
                        class="error mb-2"
                        *ngIf="
                                                        businessForm.controls['businessPan'].touched &&
                                                        businessForm.controls['businessPan'].hasError('required')
                                                        "
                      >
                        Please complete this mandatory field.
                      </div>
                      <div
                        class="error mb-2"
                        *ngIf="
                    businessForm.controls['businessPan'].dirty &&
                    businessForm.controls['businessPan'].hasError('pattern')
                  "
                      >
                        Please add valid information.
                      </div>

                      <div
                        class="error mb-2"
                        *ngIf=" 
                                                        !businessForm.controls['businessPan'].hasError('required') && showValidatePANError
                                                      "
                      >
                        Please add valid information
                      </div>
                    </div>

                    <div
                      class="col-xl-12 col-lg-12 col-md-12 col-sm-12"
                      [ngClass]="businessForm.controls['propertyOwnership'].touched &&
                                      businessForm.controls['propertyOwnership'].hasError('required')  ? 'isvaliderror' :  ''"
                    >
                      <mat-form-field appearance="fill">
                        <mat-label>Property Ownership</mat-label>
                        <mat-select
                          formControlName="propertyOwnership"
                          placeholder=""
                        >
                          <mat-option value="Rented">Rented </mat-option>
                          <mat-option value="Owned">Owned </mat-option>
                          <mat-option value="Family Owned"
                            >Family Owned
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <div
                        class="error mb-2"
                        *ngIf="
                                          businessForm.controls['propertyOwnership'].touched &&
                                          businessForm.controls['propertyOwnership'].hasError('required')
                                        "
                      >
                        Please complete this mandatory field.
                      </div>
                    </div>

                    <div
                      class="col-xl-12 col-lg-12 col-md-12 col-sm-12"
                      [ngClass]="businessForm.controls['businessVintage'].touched &&
                                      businessForm.controls['businessVintage'].hasError('required')  ? 'isvaliderror' :  ''"
                    >
                      <mat-form-field appearance="fill">
                        <mat-label> Business Vintage</mat-label>
                        <mat-select
                          formControlName="businessVintage"
                          placeholder=""
                        >
                          <mat-option value="Less than 1 year"
                            >Less than 1 year
                          </mat-option>
                          <mat-option value="1 - 3 years"
                            >1 - 3 years
                          </mat-option>
                          <mat-option value="3 - 5 years"
                            >3 - 5 years
                          </mat-option>
                          <mat-option value="More than 5 years"
                            >More than 5 years
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <div
                        class="error mb-2"
                        *ngIf="
                                          businessForm.controls['businessVintage'].touched &&
                                          businessForm.controls['businessVintage'].hasError('required')
                                        "
                      >
                        Please complete this mandatory field.
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="ButtonNow">
              <a class="btn btn-secondary" (click)="eventService.back()"
                >Back</a
              >
              <button
                class="register_form"
                [disabled]="isSubmit"
                (click)="getOtpbyPhone()"
              >
                Next <mat-icon>keyboard_arrow_right</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
